<!-- Profile Image -->
<div class="box box-primary">
    <div class="box-body box-profile">
        <div class="groundimg" data-toggle="tooltip" title="设置图标" data-original-title="设置图标">
            <if condition="$icon">
                <img class="profile-user-img img-responsive img-circle myimg" src="{$icon.path}" alt="User profile picture">
                <else/>
                <img class="profile-user-img img-responsive img-circle myimg" src="__IMG__/avatar.jpg" alt="User profile picture">
            </if>

            <i class="fa fa-cog" data-toggle="modal" data-target="#myModal_{:UID}"></i>
        </div>
        <form method="post" role="form" id="form">
            <div class="modal fade" id="myModal_{:UID}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">设置场馆图标</h4>
                        </div>
                        <div class="modal-body">
                            <h4>选择图片</h4>
                            <if condition="$album">
                                <div class="row" id="defaultimgman">
                                    <foreach name="album" item="vo">
                                        <div class="col-md-3 defaultimg">
                                            <img src="{$vo|get_cover='path'}" alt="默认用户头像" data-icon="{$vo}" class="img-thumbnail myimg">
                                            <span aria-hidden="true" class="glyphicon glyphicon-ok"></span>
                                        </div>
                                    </foreach>
                                </div>
                                <else/>
                                <div class="alert alert-warning alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <h4><i class="icon fa fa-warning"></i> 提示</h4>
                                    您还没有设置场馆相册，无法选择相册图片！您可以前往 <a href="{:U('Setting/index')}">基础设置</a> 设置场馆相册，或者直接上传场馆图标。
                                </div>
                            </if>

                            <hr>
                            <h4>上传图片</h4>
                            <div class="tip" id="tip">
                                <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <b id="alertTxt">请选择或者上传图片</b>
                                </div>
                            </div>
                            <div class="upimg">
                                <div class="imageBox">
                                    <div class="thumbBox"></div>
                                    <div class="spinner" style="display: none">Loading...</div>
                                </div>
                                <div class="action">
                                    <!-- <input type="file" id="file" style=" width: 200px">-->
                                    <div class="new-contentarea tc"> <a href="javascript:void(0)" class="upload-img">
                                        <label for="upload-file">上传图片</label>
                                    </a>
                                        <input type="file" class="" name="upload-file" id="upload-file" />
                                    </div>
                                    <input type="button" id="btnCrop"  class="Btnsty_peyton" value="裁切">
                                    <input type="button" id="btnZoomIn" class="Btnsty_peyton" value="+"  >
                                    <input type="button" id="btnZoomOut" class="Btnsty_peyton" value="-" >
                                </div>
                                <div class="cropped"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="submit" id="button" data-loading-text="Loading..." class="btn btn-info" autocomplete="off">
                                <span aria-hidden="true" class="glyphicon glyphicon-saved"></span> 提交设置
                            </button>
                            <textarea name="img" style="display: none" id="img"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <h3 class="profile-username text-center">{:NAME}</h3>
        <p class="text-muted text-center">项目列表</p>

        <ul class="list-group list-group-unbordered">
            <foreach name="venue_items" item="vo">
                <li class="list-group-item">
                    <b>{$vo.name}</b>
                    <div class="btn-group pull-right">
                        <a class="pull-right" data-toggle="dropdown"><i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <switch name="vo.status">
                                <case value="-1">
                                    <li class="ocAjax" data-id="{$vo.id}" data-status="1" data-url="{:U('Ajax/ocVenueItems')}" data-tag="#venueItems" id="venueItems-{$vo.id}"><a href="#">开启</a></li>
                                </case>
                                <case value="1">
                                    <li class="ocAjax" data-id="{$vo.id}" data-status="-1" data-url="{:U('Ajax/ocVenueItems')}" data-tag="#venueItems" id="venueItems-{$vo.id}"><a href="#">关闭</a></li>
                                </case>
                            </switch>

                            <li class="divider"></li>
                            <li>
                                <a data-toggle="modal" href="{:U('Setting/blockadd',['items_id'=>$vo['items_id']])}" data-target="#modal_add_{$vo.items_id}">添加场地</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <div class="modal fade" id="modal_add_{$vo.items_id}" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">

                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </foreach>
        </ul>

        <a href="{:U('Setting/items')}" class="btn btn-primary btn-block"><b>添加项目</b></a>
    </div><!-- /.box-body -->
</div><!-- /.box -->
<!-- About Me Box -->
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">关于我们</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <strong><i class="fa fa-book margin-r-5"></i>  简介</strong>
        <p class="text-muted">
            {$venue.summary|default='没有设置简介'}
        </p>

        <hr>

        <strong><i class="fa fa-map-marker margin-r-5"></i> 定位</strong>
        <p class="text-muted">
            {$venue.address|default='没有设置地址'}
        </p>

        <hr>

        <strong><i class="fa fa-phone margin-r-5"></i> 电话</strong>
        <p class="text-muted">
            {$venue.tel|default='没有设置电话'}
        </p>

        <hr>

        <strong><i class="fa fa-pencil margin-r-5"></i> 服务</strong>
        <p>
            <foreach name="my_services" item="vo" >
                <if condition="$vo['s']">
                    <span class="label label-success" style="margin-right: 5px;display: inline-block;">{$vo.val}</span>
                </if>
            </foreach>
        </p>

        <hr>

        <strong><i class="fa fa-leaf margin-r-5"></i> 场地材质</strong>
        <p class="text-muted">
            {$venue['material']|default='没有设置场地材质'}
        </p>

        <hr>

        <strong><i class="fa fa-moon-o margin-r-5"></i> 灯光效果</strong>
        <p class="text-muted">
            {$venue['light']|default='没有设置灯光效果'}
        </p>

        <hr>

        <strong><i class="fa fa-camera-retro margin-r-5"></i> 相册</strong>

        <if condition="$albums">
          <p>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <foreach name="albums" item="vo">
                        <if condition="$key eq 0">
                            <li data-target="#carousel-example-generic" data-slide-to="{$key}" class="active"></li>
                            <else/>
                            <li data-target="#carousel-example-generic" data-slide-to="{$key}" class=""></li>
                        </if>
                    </foreach>
                </ol>
                <div class="carousel-inner">
                    <foreach name="albums" item="vo">
                        <if condition="$key eq 0">
                            <div class="item active">
                                <img src="{$vo.path}">
                                <div class="carousel-caption">
                                    {$vo.create_time|time_format}
                                </div>
                            </div>
                            <else/>
                            <div class="item">
                                <img src="{$vo.path}">
                                <div class="carousel-caption">
                                    {$vo.create_time|time_format}
                                </div>
                            </div>
                        </if>
                    </foreach>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="fa fa-angle-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="fa fa-angle-right"></span>
                </a>
            </div>
          </p>
          <else/>
          <p class="text-muted">没有设置相册图片 <a href="{:U('Setting/index')}">上传图片</a></p>
        </if>


    </div><!-- /.box-body -->
</div><!-- /.box -->
