.edit_sort {
    border: 1px solid #cdcdcd;
    color: #404040;
    display: inline-block;
    height: 376px;
    line-height: 35px;
    width: 40%;
}

.edit_sort_l {
    float: left;
    margin-right: 20px;
}

.edit_sort span {
    background: none repeat scroll 0 0 #eeeeee;
    border-bottom: 1px solid #cdcdcd;
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
    text-indent: 10px;
    width: 100%;
}

.edit_sort ul {
    height: 334px;
    overflow-y: scroll;
    padding: 0 5px;
}

.dragsort li {
    background-color: #fff;
    border: 1px solid #eee;
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 0 6px;
}
.dragsort li b {
    color: #000;
    display: none;
    float: right;
    font-weight: bold;
    padding: 0 6px;
}
.dragsort li:hover b {
    display: block;
}