<extend name="Public/base" />
<block name="head"><include file='Public/head' /></block>
<block name="head_css">
    <link href="__CSS__/index.css" rel="stylesheet" />
    <link href="__CSS__/dashboard.css" rel="stylesheet">
    <link href="__STATIC__/webuploader/webuploader.css" rel="stylesheet" />
    <link href="__CSS__/uploadimg.css" rel="stylesheet" />
</block>
</head>
<body>
<block name="header"><include file='Public/header' /></block>
<block name="nav"><include file='Public/nav' /></block>
<block name="uctop">
    <div class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span> {$seo.title}
    </div>
</block>
<block name="main">
    <ol class="breadcrumb">
        <li><a href="{$crumbs.url}">{$crumbs.title}</a></li>
        <li class="active">{$seo.title}</li>
    </ol>
    <switch name="uc['pass_realname']">
        <case value="-1">
            <p class="bg-primary h50">实名认证审核中...，请联系客服修改</p>
        </case>
        <case value="1">
            <div class="paizi nolist mt50">
                <a href="">通过实名认证，请联系客服修改</a>
            </div>
        </case>
        <default />

            <div role="alert" class="alert alert-danger"><span aria-hidden="true" class="glyphicon glyphicon-info-sign"></span> 身份证图片大小不要超过2M，否则无法成功上传；可以将照片发给客服帮您处理</div>
            <div class="tip" id="tip">
                <div class="alert alert-danger" role="alert">alert</div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <form action="__SELF__" method="post" class="form-horizontal" role="form" id="form">
                        <div class="form-group">
                            <label for="inputRealname" class="col-sm-4 control-label">姓名</label>
                            <div class="col-sm-6">
                                <input type="text" name="realname" class="form-control" id="inputRealname" placeholder="请填写您的真实姓名">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cardNumber" class="col-sm-4 control-label">身份证号码</label>
                            <div class="col-sm-6">
                                <input type="text" name="card_number" class="form-control" id="cardNumber" placeholder="请填写您的身份证号码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="cardNumber" class="col-sm-4 control-label">上传身份证正反面</label>
                            <div class="col-sm-6">
                                <div id="uploader" class="wu-example">
                                    <div class="queueList">
                                        <div id="dndArea" class="placeholder">
                                            <div id="filePicker" class="webuploader-container"><div class="webuploader-pick">点击选择图片</div><div id="rt_rt_19ioo1qd6irs10a1p5i50b1ejd1" style="position: absolute; top: 0px; left: 448px; width: 168px; height: 44px; overflow: hidden; bottom: auto; right: auto;"><input type="file" name="file" class="webuploader-element-invisible" multiple="multiple" accept="image/*"><label style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label></div></div>
                                            <p>试试将照片拖到这里，选择身份证正反面</p>
                                        </div>
                                        <ul class="filelist"></ul>
                                    </div>
                                    <div class="statusBar" style="display:none;">
                                        <div class="progress" style="display: none;">
                                            <span class="text">0%</span>
                                            <span class="percentage" style="width: 0%;"></span>
                                        </div><div class="info">共0张（0B），已上传0张</div>
                                        <div class="btns">
                                            <div id="filePicker2" class="webuploader-container"><div class="webuploader-pick">继续添加</div><div id="rt_rt_19ioo1qda1cqufnn1ibrhhcpim6" style="position: absolute; top: 0px; left: 0px; width: 1px; height: 1px; overflow: hidden;"><input type="file" name="file" class="webuploader-element-invisible" multiple="multiple" accept="image/*"><label style="opacity: 0; width: 100%; height: 100%; display: block; cursor: pointer; background: rgb(255, 255, 255);"></label></div></div><div class="uploadBtn state-pedding">开始上传</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" id="submit">
                            <div class="col-sm-offset-4 col-sm-8">
                                <button type="submit" id="button" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">
                                    提交
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    </switch>
</block>

<block name="foot"><include file='Public/foot' /></block>
<block name="foot_js">
    <script type="text/javascript">
        // 添加全局站点信息
        var BASE_URL="__STATIC__";
        var SERVER="{:U('File/uploadPictures',array('session_id'=>session_id()))}";
    </script>
    <script src="__STATIC__/webuploader/webuploader.js"></script>
    <script src="__JS__/uploadimg.js"></script>
</block>

</body>
</html>