<extend name="Public/base" />
<block name="head"><include file='Public/head' /></block>
<block name="head_css">
    <link href="__CSS__/index.css" rel="stylesheet" />
    <link href="__CSS__/dashboard.css" rel="stylesheet">
</block>
</head>
<body>
<block name="header"><include file='Public/header' /></block>
<block name="nav"><include file='Public/nav' /></block>
<block name="uctop">
    <div class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span> {$seo.title}

    </div>
</block>

<block name="main">
    <ol class="breadcrumb">
        <li><a href="{$crumbs.url}">{$crumbs.title}</a></li>
        <li class="active">{$seo.title}</li>
    </ol>

    <div class="jumbotron">
        <div class="tip" id="tip">
            <div class="alert alert-danger" role="alert">alert</div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <form action="__SELF__" method="post" class="form-horizontal" role="form" id="form">
                    <div class="form-group">
                        <label for="inputMobile" class="col-sm-4 control-label">新手机号码</label>
                        <div class="col-sm-4">
                            <input type="text" name="mobile" class="form-control" id="inputMobile" placeholder="新手机号码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputVerifyCode" class="col-sm-4 control-label">验证码</label>
                        <div class="col-sm-4">
                            <input type="text" name="verifycode" class="form-control" id="inputVerifyCode" placeholder="短信验证码">
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-default" id="btnSendCode">获取验证码</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" id="button" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">
                                提交验证
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</block>

<block name="foot"><include file='Public/foot' /></block>
<block name="foot_js">
    <script type="text/javascript" src="__STATIC__/jquery.form.js"></script>
    <script>
        var InterValObj; //timer变量，控制时间
        var count = 30; //间隔函数，1秒执行
        var curCount;//当前剩余秒数

        function sendMessage(mobile){
            curCount = count;//设置button效果，开始计时
            $("#btnSendCode").attr("disabled", "true");
            $("#btnSendCode").html("请在" + curCount + "秒内输入验证码");
            InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次
        }

        //timer处理函数
        function SetRemainTime() {
            if (curCount == 0) {
                window.clearInterval(InterValObj);//停止计时器
                $("#btnSendCode").removeAttr("disabled");//启用按钮
                $("#btnSendCode").html("重新获取验证码");
            }
            else {
                curCount--;
                $("#btnSendCode").html("请在" + curCount + "秒内输入验证码");
            }
        }

        function BackRemain() {
            window.clearInterval(InterValObj);//停止计时器
            $("#btnSendCode").removeAttr("disabled");//启用按钮
            $("#btnSendCode").html("重新获取验证码");
        }

        $('#btnSendCode').on('click',function(){
            var mobile = $("input[name='mobile']").val();
            if(mobile == ''){
                $('#tip').show().children().text('新手机号码不能为空');
                $("input[name='mobile']").focus();
                return false;
            }else{
                $('#tip').hide();
            }
            $("#btnSendCode").attr("disabled", "true");
            $.post("{:U('sendMobileCode')}",{ 'mobile': mobile },function(data){
                if(data.state === 'fail'){
                    $('#tip').show().children().text(data.message);
                    BackRemain();
                }
                if(data.state === 'success'){
                    sendMessage(mobile);
                }
            }, "json");
        });

        $('#button').on('click', function () {
            var options = {
                beforeSubmit :showRequest,
                success: showResponse,
                timeout: 3000
            };
            $('#form').ajaxForm(options);

        });

        function showRequest(formData, jqForm, options){
            var queryString = $.param(formData);
            var formElement = jqForm[0];
            var mobile = formElement.mobile.value;
            var verifycode = formElement.verifycode.value;

            if(mobile==''){
                $('#tip').show().children().text('新手机号码不能为空');
                $("input[name='mobile']").focus();
                $('#button').button('reset');
                return false;
            }
            if(verifycode==''){
                $('#tip').show().children().text('验证码不能为空');
                $("input[name='verifycode']").focus();
                $('#button').button('reset');
                return false;
            }
            return true;
        };
        function showResponse(data){
            if(data.state === 'success') {
                window.location.href = decodeURIComponent(data.referer);
            }else{
                $('#tip').show().children().text(data.message);
                $('#button').button('reset');
            }
        };
    </script>
</block>
</body>
</html>