<extend name="Public/baseweixin" />
<block name="head"><include file='Public/headweixin' /></block>
<block name="head_css">
    <link href="__CSS__/dashboard.css" rel="stylesheet">
</block>
</head> 
<body>
<block name="header"><include file='Public/headerweixin' /></block>
<block name="uctop">
</block>

<block name="main">
    <div class="wewixinmain" style="margin: 50px 0;">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="{:U('index',['mobile'=>'weixin'])}">我要提现</a></li>
            <li role="presentation" class="active"><a href="{:U('log',['mobile'=>'weixin'])}">提现记录</a></li>
            <li role="presentation"><a href="{:U('shrank',['mobile'=>'weixin'])}">出金记录</a></li>
        </ul>
        <if condition="$_list">
            <div class="row" style="margin-top: 30px;">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>银行</th>
                            <th>卡号</th>
                            <th>提现金额</th>
                            <th>申请时间</th>
                            <th>类型</th>
                            <th>状态</th>
                            <th>备注</th>
                        </tr>
                        </thead>
                        <tbody>
                        <foreach name="_list" item="v">
                            <tr>
                                <td>{$v.bank_name}</td>
                                <td>{$v.card_number_format}</td>
                                <td>{$v.amount}</td>
                                <td>{$v.created_time|time_format}</td>
                                <td>
                                    <if condition="$v['types']">
                                        <if condition="$v['do_types']">
                                            账户出金直接提现
                                            <else/>
                                            提现
                                        </if>
                                        <else/>
                                        账户出金
                                    </if>
                                </td>
                                <td>{:status($v['status'])}</td>
                                <td>
                                    <switch name="v.status">
                                        <case value="-1">
                                            {$v.reason}
                                        </case>
                                        <default />
                                        {$v.remark}
                                    </switch>
                                </td>
                            </tr>
                        </foreach>
                        </tbody>
                    </table>
                    <div class="page">
                        {$_page}
                    </div>
                </div>
            </div>
            <else/>
            <div class="alert alert-info" role="alert" style="margin-top: 30px;">没有相关信息</div>
        </if>
    </div>

</block>

<block name="foot"><include file='Public/ufootweixin' /></block>
<block name="foot_js">

</block>
</body>
</html>