<extend name="Public/base" />
<block name="head"><include file='Public/head' /></block>
<block name="head_css">
    <link href="__CSS__/index.css" rel="stylesheet" />
    <link href="__CSS__/upimg.css" rel="stylesheet" />
    <link href="__CSS__/dashboard.css" rel="stylesheet">
    <link href="__CSS__/jquery.jgrowl.css" rel="stylesheet" />
    <link href="__CSS__/jquery.pagewalkthrough.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="__JS__/html5.js"></script>
    <![endif]-->
</block>
</head> 
<body>
<block name="header"><include file='Public/header' /></block>
<block name="nav"><include file='Public/nav' /></block>
<block name="uctop">
    <div id="walkthrough-content">
        <div id="walkthrough-1">
            <h3>欢迎来到六合资本网络配资平台</h3>

            <p>新平台升级了</p>
            <p>点击下一步了解更多...</p>
        </div>

        <div id="walkthrough-2">
            在新平台用户中心相关操作放到了这里...
        </div>

        <div id="walkthrough-3">
            在这里是您在新平台认证相关信息，请务必完成相关验证...
        </div>

        <div id="walkthrough-4">
            在这里也可以提交配资需求和投资啦...
        </div>

        <div id="walkthrough-5">
            在这里查看可用余额，操作充值和提现...
        </div>
    </div>
    <div class="row" id="myucimg">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4" id="userimg">
                    <a href="{:U('Index/index')}">
                        <if condition="$member['img']">
                            <img src="{$member['img']}" alt="用户头像" class="img-thumbnail myimg" id="myimg">
                            <else/>
                            <if condition="$member['icon']">
                                <img src="{$member['icon']|get_cover='path'}" alt="用户头像" class="img-thumbnail myimg" id="myimg">
                                <else/>
                                <img src="__IMG__/common/userimg.jpg" alt="用户头像" class="img-thumbnail myimg" id="myimg">
                            </if>
                        </if>
                    </a>
                    <div class="editbtn"
                         data-toggle="popover" data-trigger="focus" title="修改头像"
                         data-content="重新设置您的头像!">
                        <span aria-hidden="true" class="glyphicon glyphicon-edit" data-toggle="modal" data-target="#myModal_{:UID}"></span>
                    </div>
                    <form method="post" role="form" id="form">
                        <div class="modal fade" id="myModal_{:UID}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">设置头像</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h4>选择头像</h4>
                                        <div class="row" id="defaultimgman">
                                            <foreach name="iconList" item="vo">
                                                <div class="col-md-3 defaultimg">
                                                    <img src="{$vo|get_cover='path'}" alt="默认用户头像" data-icon="{$vo}" class="img-thumbnail myimg">
                                                    <span aria-hidden="true" class="glyphicon glyphicon-ok"></span>
                                                </div>
                                            </foreach>
                                        </div>
                                        <hr>
                                        <h4>上传图像</h4>
                                        <div class="tip" id="tip">
                                            <div class="alert alert-danger" role="alert">
                                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                                <b id="alertTxt">请选择或者上传图像</b>
                                            </div>
                                        </div>
                                        <div class="upimg">
                                            <div class="imageBox">
                                                <div class="thumbBox"></div>
                                                <div class="spinner" style="display: none">Loading...</div>
                                            </div>
                                            <div class="action">
                                                <!-- <input type="file" id="file" style=" width: 200px">-->
                                                <div class="new-contentarea tc"> <a href="javascript:void(0)" class="upload-img">
                                                    <label for="upload-file">上传图像</label>
                                                </a>
                                                    <input type="file" class="" name="upload-file" id="upload-file" />
                                                </div>
                                                <input type="button" id="btnCrop"  class="Btnsty_peyton" value="裁切">
                                                <input type="button" id="btnZoomIn" class="Btnsty_peyton" value="+"  >
                                                <input type="button" id="btnZoomOut" class="Btnsty_peyton" value="-" >
                                            </div>
                                            <div class="cropped"></div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                        <button type="submit" id="button" data-loading-text="Loading..." class="btn btn-info" autocomplete="off">
                                            <span aria-hidden="true" class="glyphicon glyphicon-saved"></span> 提交设置
                                        </button>
                                        <textarea name="img" style="display: none" id="img"></textarea>
                                        <input type="hidden" name="icon" id="icon" value="{$member['icon']|default=''}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-8">
                    <h4>您好：{:USERNAME}</h4>
                    <hr>
                    <h5>上次登录时间：<small>{$member['last_login_time']|time_format}</small></h5>
                    <div id="attestation">
                        <switch name="uc['pass_realname']">
                            <case value="-1">
                                <a class="btn btn-warning" href="{:U('Authentication/realname')}" role="button"
                                   data-toggle="popover" data-trigger="focus" title="实名认证"
                                   data-content="您已经提交实名认证，等待审核!">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                </a>
                            </case>
                            <case value="1">
                                <a class="btn btn-warning" href="{:U('Authentication/realname')}" role="button"
                                   data-toggle="popover" data-trigger="focus" title="实名认证"
                                   data-content="您已经通过实名认证!">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                </a>
                            </case>
                            <default />
                                <a class="btn btn-default" href="{:U('Authentication/realname')}" role="button"
                                   data-toggle="popover" data-trigger="focus" title="实名认证"
                                   data-content="您未通过实名认证!">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                </a>
                        </switch>
                        <if condition="$uc['pass_phone']">
                            <a class="btn btn-danger" href="{:U('Authentication/phone')}" role="button"
                               data-toggle="popover" data-trigger="focus" title="手机绑定"
                               data-content="您已经成功绑定手机!">
                                <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                            </a>
                            <else/>
                            <a class="btn btn-default" href="{:U('Authentication/phone')}" role="button"
                               data-toggle="popover" data-trigger="focus" title="手机绑定"
                               data-content="您未成功绑定手机!">
                                <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                            </a>
                        </if>
                        <if condition="$uc['pass_email']">
                            <a class="btn btn-primary" href="{:U('Authentication/email')}" role="button"
                               data-toggle="popover" data-trigger="focus" title="邮箱验证"
                               data-content="您已经通过邮箱验证!">
                                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                            </a>
                            <else/>
                            <a class="btn btn-default" href="{:U('Authentication/email')}" role="button"
                               data-toggle="popover" data-trigger="focus" title="邮箱验证"
                               data-content="您未通过邮箱验证!">
                                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                            </a>
                        </if>
                        <if condition="$uc['pass_paypwd']">
                            <a class="btn btn-info" href="{:U('Password/paypwd')}" role="button"
                               data-toggle="popover" data-trigger="focus" title="支付密码"
                               data-content="您已经成功设置支付密码!">
                                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                            </a>
                            <else/>
                            <a class="btn btn-default" href="{:U('Password/paypwd')}" role="button"
                               data-toggle="popover" data-trigger="focus" title="支付密码"
                               data-content="您未设置支付密码!">
                                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                            </a>
                        </if>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h4>--</h4>
            <hr>
            <h5>上次登录IP：<small>{$member['last_login_ip']|long2ip}</small></h5>
            <a class="btn btn-default" href="{:U('Message/index')}" role="button">
                <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                {$unread_num|default=0}条消息
            </a>
            <a class="btn btn-default" href="{:U('Score/index')}" role="button">
                <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                {$uc['score']|default=0}积分
            </a>
        </div>
    </div>
</block>
<block name="main">
<div class="alert alert-info mt30" role="alert" id="funds">
    <div class="row">
        <div class="col-md-6">
            可用余额：<span class="user_money">{:money($uc['balance'])}</span>
        </div>
        <div class="col-md-6">
            <a class="btn btn-warning" href="{:U('Recharge/index')}" role="button"><span class="glyphicon glyphicon-import" aria-hidden="true"></span> 充值</a>
            <a class="btn btn-danger" href="{:U('Cash/index')}" role="button"><span class="glyphicon glyphicon-export" aria-hidden="true"></span> 提现</a>
        </div>
    </div>
</div>
<div class="panel panel-default mt30">
    <div class="panel-heading clearfix">
        <div class="pull-left">
            <h3 class="panel-title my-panel-title">资金统计</h3>
        </div>
        <div class="pull-right">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default active" id="tcare_btn"><span aria-hidden="true" class="glyphicon glyphicon-stats"></span></button>
                <button type="button" class="btn btn-default" id="tlist_btn"><span aria-hidden="true" class="glyphicon glyphicon-th-list"></span></button>
            </div>
        </div>
    </div>
    <div class="panel-body">

        <div class="row" id="tlist">
            <div class="col-md-6">
                <div class="list-group my-list-group">
                    <a class="list-group-item disabled">
                        <p class="text-primary"><b>配资统计</b></p>
                    </a>
                    <a class="list-group-item"><label>保证金总额：</label><strong>{:money($sum_b)}</strong></a>
                    <a class="list-group-item"><label>出金总额：</label><strong>{:money($sum_c)}</strong></a>
                    <a class="list-group-item"><label>利息总额：</label><strong>{:money($sum_l)}</strong></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="list-group my-list-group">
                    <a class="list-group-item disabled">
                        <p class="text-primary"><b>投资统计</b></p>
                    </a>
                    <a class="list-group-item"><label>投资总额：</label><strong>{:money($sum_t)}</strong></a>
                    <a class="list-group-item"><label>预计总收益：</label><strong>{:money($sum_s)}</strong></a>
                    <a class="list-group-item"><label>累计总收益：</label><strong>{:money($sum_g)}</strong></a>
                </div>
            </div>
        </div>

        <div class="row" id="tcare">
            <div class="col-md-12">
                <div id="container"></div>
            </div>
        </div>

    </div>
    <div class="panel-footer">
        <a class="btn btn-default" href="{:U('Funds/index')}" role="button">查看资金明细</a>
    </div>
</div>
<if condition="$peiziList">
    <ul class="nav nav-tabs clearfix mt30">
        <li role="presentation" class="active"><a href="{:U('Peizi/index')}"><strong>股票配资</strong></a></li>
        <li role="presentation" class="pull-right"><a href="{:U('Peizi/index')}"><span aria-hidden="true" class="glyphicon glyphicon-th-large"></span> 更多</a></li>
    </ul>
    <foreach name="peiziList" item="v">
        <div class="panel panel-default mt10">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4">
                        <strong>单号：{$v.orders}</strong>
                    </div>
                    <div class="col-md-4">
                        <strong>创建时间：{$v.created_time|time_format}</strong>
                    </div>
                    <div class="col-md-4">
                        <strong>状态：{:peiziStuArr($v['status'])}</strong>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <!-- List group -->
                        <ul class="list-group">
                            <li class="list-group-item"><strong>本金：{:money($v['own_funds'],'',10000)}</strong></li>
                            <li class="list-group-item"><strong>配资资金：{:money($v['with_funds'],'',10000)}</strong></li>
                            <li class="list-group-item"><strong>总操盘资金：{:money($v['own_funds']+$v['with_funds'],'',10000)}</strong></li>
                            <li class="list-group-item"><strong>配资期限：{$v.time_limit}个月</strong></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <!-- List group -->
                        <ul class="list-group">
                            <li class="list-group-item"><strong>月利率：{$v.interest_rate}%</strong></li>
                            <if condition="$v['make_bids']">
                                <switch name="v.status">
                                    <case value="8">
                                        <li class="list-group-item"><strong>到期时间：{:prevDate($v['end_trading'])}</strong></li>
                                    </case>
                                    <default />
                                    <li class="list-group-item"><strong>开始时间：{$v.created_time|time_format}</strong></li>
                                </switch>
                                <else/>
                                <switch name="v.status">
                                    <case value="8">
                                        <li class="list-group-item"><strong>到期时间：{:prevDate($v['end_trading'])}</strong></li>
                                    </case>
                                    <default />
                                    <li class="list-group-item"><strong>开始时间：{$v.created_time|time_format}</strong></li>
                                </switch>
                            </if>

                            <li class="list-group-item"><strong>状态：{:peiziStuArr($v['status'])}</strong></li>
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <strong>处理进度：</strong>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="progress" style="margin-bottom: 0">
                                            <switch name="v.status">
                                                <case value="0">
                                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                                        0%
                                                    </div>
                                                </case>
                                                <case value="1">
                                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                                        50%
                                                    </div>
                                                </case>
                                                <case value="2">
                                                    <case value="0">
                                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                                            50%
                                                        </div>
                                                    </case>
                                                </case>
                                                <case value="3">
                                                    <switch name="v.pay_type">
                                                        <case value="0">
                                                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                                                80%
                                                            </div>
                                                        </case>
                                                        <case value="1">
                                                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                                                80%
                                                            </div>
                                                        </case>
                                                    </switch>
                                                </case>
                                                <case value="8">
                                                    <case value="0">
                                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                            100%
                                                        </div>
                                                    </case>
                                                </case>
                                                <default />
                                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                                    0%
                                                </div>
                                            </switch>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </foreach>
    <else/>
    <div class="paizi nolist mt30">
        <a target="_blank" href="{:U('Index/Peizi/index')}">股票配资</a>
    </div>
</if>
<if condition="$qihuoList">
    <ul class="nav nav-tabs clearfix mt30">
        <li role="presentation" class="active"><a href="{:U('Peizi/index')}"><strong>期货配资</strong></a></li>
        <li role="presentation" class="pull-right"><a href="{:U('Qihuo/index')}"><span aria-hidden="true" class="glyphicon glyphicon-th-large"></span> 更多</a></li>
    </ul>
    <foreach name="qihuoList" item="v">
        <if condition="$v['num']">
            <div class="panel panel-warning mt30">
                <else/>
                <div class="panel panel-default mt30">
        </if>
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4">
                        <strong>单号：{$v.orders}</strong>
                    </div>
                    <div class="col-md-4">
                        <strong>创建时间：{$v.created_time|time_format}</strong>
                    </div>
                    <div class="col-md-4">
                        <strong>状态：{:peiziStuArr($v['status'])}</strong>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <if condition="$v['num']">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- List group -->
                            <ul class="list-group">
                                <li class="list-group-item"><strong>本金：{:money($v['own_funds'],'',10000)}</strong></li>
                                <li class="list-group-item"><strong>配资资金：{:money($v['with_funds'],'',10000)}</strong></li>
                                <li class="list-group-item"><strong>总操盘资金：{:money($v['own_funds']+$v['with_funds'],'',10000)}</strong></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <!-- List group -->
                            <ul class="list-group">
                                <li class="list-group-item"><strong>手数：{$v.num}手</strong></li>
                                <if condition="$v['begin_trading']">
                                    <li class="list-group-item"><strong>开始时间：{$v.begin_trading|time_format}</strong></li>
                                    <else/>
                                    <li class="list-group-item"><strong>申请时间：{$v.created_time|time_format}</strong></li>
                                </if>

                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <strong>处理进度：</strong>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="progress" style="margin-bottom: 0">
                                                <switch name="v.status">
                                                    <case value="0">
                                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                                            0%
                                                        </div>
                                                    </case>
                                                    <case value="1">
                                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                                            50%
                                                        </div>
                                                    </case>
                                                    <case value="2">
                                                        <case value="0">
                                                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                                                50%
                                                            </div>
                                                        </case>
                                                    </case>
                                                    <case value="3">
                                                        <switch name="v.pay_type">
                                                            <case value="0">
                                                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                                                    80%
                                                                </div>
                                                            </case>
                                                            <case value="1">
                                                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                                                    80%
                                                                </div>
                                                            </case>
                                                        </switch>
                                                    </case>
                                                    <case value="8">
                                                        <case value="0">
                                                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                                100%
                                                            </div>
                                                        </case>
                                                    </case>
                                                    <default />
                                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                                        0%
                                                    </div>
                                                </switch>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <else/>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- List group -->
                            <ul class="list-group">
                                <li class="list-group-item"><strong>本金：{:money($v['own_funds'],'',10000)}</strong></li>
                                <li class="list-group-item"><strong>配资资金：{:money($v['with_funds'],'',10000)}</strong></li>
                                <li class="list-group-item"><strong>总操盘资金：{:money($v['own_funds']+$v['with_funds'],'',10000)}</strong></li>
                                <li class="list-group-item"><strong>配资期限：{$v.time_limit}个月</strong></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <!-- List group -->
                            <ul class="list-group">
                                <li class="list-group-item"><strong>月利率：{$v.interest_rate}%</strong></li>
                                <if condition="$v['make_bids']">
                                    <switch name="v.status">
                                        <case value="8">
                                            <li class="list-group-item"><strong>到期时间：{:prevDate($v['end_trading'])}</strong></li>
                                        </case>
                                        <default />
                                        <li class="list-group-item"><strong>开始时间：{$v.created_time|time_format}</strong></li>
                                    </switch>
                                    <else/>
                                    <switch name="v.status">
                                        <case value="8">
                                            <li class="list-group-item"><strong>到期时间：{:prevDate($v['end_trading'])}</strong></li>
                                        </case>
                                        <default />
                                        <li class="list-group-item"><strong>开始时间：{$v.created_time|time_format}</strong></li>
                                    </switch>
                                </if>

                                <li class="list-group-item"><strong>状态：{:peiziStuArr($v['status'])}</strong></li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <strong>处理进度：</strong>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="progress" style="margin-bottom: 0">
                                                <switch name="v.status">
                                                    <case value="0">
                                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                                            0%
                                                        </div>
                                                    </case>
                                                    <case value="1">
                                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                                            50%
                                                        </div>
                                                    </case>
                                                    <case value="2">
                                                        <case value="0">
                                                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                                                50%
                                                            </div>
                                                        </case>
                                                    </case>
                                                    <case value="3">
                                                        <switch name="v.pay_type">
                                                            <case value="0">
                                                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                                                    80%
                                                                </div>
                                                            </case>
                                                            <case value="1">
                                                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                                                    80%
                                                                </div>
                                                            </case>
                                                        </switch>
                                                    </case>
                                                    <case value="8">
                                                        <case value="0">
                                                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                                100%
                                                            </div>
                                                        </case>
                                                    </case>
                                                    <default />
                                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                                        0%
                                                    </div>
                                                </switch>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </if>

            </div>
        </div>
    </foreach>
    <else/>
    <div class="paizi nolist mt30">
        <a target="_blank" href="{:U('Uc/Qihuo/index')}">期货配资</a>
    </div>
</if>
<if condition="$touziList">
    <ul class="nav nav-tabs clearfix mt30">
        <li role="presentation" class="active"><a href="{:U('Touzi/index')}"><strong>我的投资</strong></a></li>
        <li role="presentation" class="pull-right"><a href="{:U('Touzi/index')}"><span aria-hidden="true" class="glyphicon glyphicon-th-large"></span> 更多</a></li>
    </ul>
    <foreach name="touziList" item="v">
        <div class="panel panel-default mt10">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4">
                        <strong>单号：{$v.orders}</strong>
                    </div>
                    <div class="col-md-4">
                        <strong>投资时间：{$v.created_time|time_format}</strong>
                    </div>
                    <div class="col-md-4">
                        <strong>状态：{:peiziStuArr($v['status'])}</strong>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <!-- List group -->
                        <ul class="list-group">
                            <li class="list-group-item"><strong>投资金额：{:money($v['money'])}</strong></li>
                            <li class="list-group-item"><strong>总投标金额：{:money($v['with_funds'],'',10000)}</strong></li>
                            <li class="list-group-item"><strong>保证金：{:money($v['own_funds'],'',10000)}</strong></li>
                            <li class="list-group-item"><strong>年化收益：{$v.profit}%</strong></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <!-- List group -->
                        <ul class="list-group">
                            <li class="list-group-item"><strong>投资期限：{$v.time_limit}个月</strong></li>
                            <if condition="$v['make_bids']">
                                <switch name="v.status">
                                    <case value="8">
                                        <li class="list-group-item"><strong>到期时间：{:prevDate($v['end_trading'])}</strong></li>
                                    </case>
                                    <default />
                                    <li class="list-group-item"><strong>开始时间：{$v.created_time|time_format}</strong></li>
                                </switch>
                                <else/>
                                <switch name="v.status">
                                    <case value="8">
                                        <li class="list-group-item"><strong>到期时间：{:prevDate($v['end_trading'])}</strong></li>
                                    </case>
                                    <default />
                                    <li class="list-group-item"><strong>开始时间：{$v.created_time|time_format}</strong></li>
                                </switch>
                            </if>

                            <li class="list-group-item">
                                <switch name="v.types">
                                    <case value="1">
                                        <strong>抵押类型：市值{:money($v['own_funds']+$v['with_funds'],'%s万元')}期货抵押</strong>
                                    </case>
                                    <default />
                                    <strong>抵押类型：市值{:money($v['own_funds']+$v['with_funds'],'%s万元')}股票抵押</strong>
                                </switch>
                            </li>
                            <li class="list-group-item">
                                <switch name="v.status">
                                    <case value="8">
                                        <strong>总收益：{:money($v['total_revenue'])}</strong>
                                    </case>
                                    <case value="-2">
                                        <strong>结束时间：{$v.operate_time|time_format}</strong>
                                    </case>
                                    <case value="0">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <strong>处理进度：</strong>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="progress" style="margin-bottom: 0">
                                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                                        0%
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </case>
                                    <case value="1">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <strong>处理进度：</strong>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="progress" style="margin-bottom: 0">
                                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                                        50%
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </case>
                                    <case value="2">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <strong>处理进度：</strong>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="progress" style="margin-bottom: 0">
                                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                                        50%
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </case>
                                    <case value="3">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <strong>处理进度：</strong>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="progress" style="margin-bottom: 0">
                                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                                        80%
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </case>
                                    <default />
                                    <div class="row">
                                        <div class="col-md-4">
                                            <strong>处理进度：</strong>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="progress" style="margin-bottom: 0">
                                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                                    0%
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </switch>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </foreach>
    <else/>
    <div class="touzi nolist mt30">
        <a target="_blank" href="{:U('Index/Touzi/index')}">我要投资</a>
    </div>
</if>
</block>

<block name="foot"><include file='Public/foot' /></block>
<block name="foot_js">
    <script src="__STATIC__/jquery.form.js"></script>
    <script src="__STATIC__/Highcharts/js/highcharts.js"></script>
    <script src="__JS__/jquery.jgrowl.js"></script>
    <script src="__JS__/cropbox.js"></script>
    <script src="__JS__/jquery.pagewalkthrough.min.js"></script>
    <if condition="$earlyMsg">
        <foreach name="earlyMsg" item="vo">
            <script type="text/javascript">
                ;$(function() {
                    $.jGrowl('{$vo.user_con}', {
                        theme:  'manilla',
                        speed:  'slow',
                        sticky: true
                    });
                });
            </script>
        </foreach>
    </if>
    <script type="text/javascript">
        $(window).load(function() {
            var options =
            {
                thumbBox: '.thumbBox',
                spinner: '.spinner',
                imgSrc: '__IMG__/avatar.png'
            }
            var cropper = $('.imageBox').cropbox(options);
            $('#upload-file').on('change', function(){
                var reader = new FileReader();
                reader.onload = function(e) {
                    options.imgSrc = e.target.result;
                    cropper = $('.imageBox').cropbox(options);
                }
                reader.readAsDataURL(this.files[0]);
                this.files = [];
            })
            $('#btnCrop').on('click', function(){
                var img = cropper.getDataURL();
                //console.log(cropper.getDataURL());
                $('#img').text(img);
                $('.cropped').html('');
                $('.cropped').append('<img src="'+img+'" align="absmiddle" style="width:64px;margin-top:4px;border-radius:64px;box-shadow:0px 0px 12px #7E7E7E;" ><p>64px*64px</p>');
                $('.cropped').append('<img src="'+img+'" align="absmiddle" style="width:128px;margin-top:4px;border-radius:128px;box-shadow:0px 0px 12px #7E7E7E;"><p>128px*128px</p>');
                $('.cropped').append('<img src="'+img+'" align="absmiddle" style="width:180px;margin-top:4px;border-radius:180px;box-shadow:0px 0px 12px #7E7E7E;"><p>180px*180px</p>');
            })
            $('#btnZoomIn').on('click', function(){
                cropper.zoomIn();
            })
            $('#btnZoomOut').on('click', function(){
                cropper.zoomOut();
            })
        });
    </script>
    <script>
        $('.btn,.editbtn').popover({
            'placement':'bottom',
            'trigger':'hover'
        });
        //上传图片

        $('#button').on('click', function () {
            var $btn = $(this).button('loading');
            var options = {
                url:   '{:U("editUserImg")}',
                beforeSubmit :showRequest,
                success: showResponse,
                timeout: 3000
            };
            $('#form').ajaxForm(options);
        });
        function showRequest(formData, jqForm, options){
//            var queryString = $.param(formData);
//            var formElement = jqForm[0];
//            var icon = formElement.icon.value;
//
//            if(icon==''){
//                $('#tip').show().children().find('b').text('请选择或者上传图像');
//                $('#button').button('reset');
//                return false;
//            }
            return true;
        };
        function showResponse(data){
            $('#button').button('reset');
            if(data.state == 'success') {
                $('#myimg').attr('src',data.src);
                $('#myModal_{:UID}').modal('hide');
            }else{
                $('#tip').show().children().find('b').text(data.message);
            }
        };

        $('.defaultimg').click(function(){
            var icon = $(this).children('img').attr('data-icon');
            $(this).addClass('hover').siblings().removeClass('hover');
            $('#icon').val(icon);
        });
        <if condition="$closepage neq 'yes'">
        $('body').pagewalkthrough({
            name: 'introduction',
            steps: [{
                popup: {
                    content: '#walkthrough-1',
                    type: 'modal'
                }
            }, {
                wrapper: '#navbar ul',
                popup: {
                    content: '#walkthrough-2',
                    type: 'tooltip',
                    position: 'bottom'
                }
            }, {
                wrapper: '#attestation',
                popup: {
                    content: '#walkthrough-3',
                    type: 'tooltip',
                    position: 'bottom'
                }
            }, {
                wrapper: '#dopt',
                popup: {
                    content: '#walkthrough-4',
                    type: 'tooltip',
                    position: 'right'
                }
            }, {
                wrapper: '#funds',
                popup: {
                    content: '#walkthrough-5',
                    type: 'tooltip',
                    position: 'top'
                }
            }]
        });

        // Show the tour
        $('body').pagewalkthrough('show');

        $('#jpwClose').one('click', function() {
            $.post("{:U('Ucenter/closepagewalkthrough')}");
        });

        </if>

        ;$(function () {
            var colors = Highcharts.getOptions().colors,
                    categories = ['保证金总额：', '出金总额：', '利息总额：', '投资总额：', '预计总收益：','累计总收益：'],
                    name = '统计列表',
                    data = [{
                        y: {$sum_b|default=0},
                        color: colors[0],
                        drilldown: {
                            name: '保证金总额数据详情（最近10条记录）',
                            categories: [{$sum_b_time}],
                            data: [{$sum_b_money}],
                            color: colors[0]
                        }
                    }, {
                        y: {$sum_c|default=0},
                        color: colors[1],
                        drilldown: {
                            name: '出金总额数据详情（最近10条记录）',
                            categories: [{$sum_c_time}],
                            data: [{$sum_c_money}],
                            color: colors[1]
                        }
                    }, {
                        y: {$sum_l|default=0},
                        color: colors[2],
                        drilldown: {
                            name: '利息总额数据详情（最近10条记录）',
                            categories: [{$sum_l_time}],
                            data: [{$sum_l_money}],
                            color: colors[2]
                        }
                    }, {
                        y: {$sum_t|default=0},
                        color: colors[3],
                        drilldown: {
                            name: '投资总额数据详情（最近10条记录）',
                            categories: [{$sum_t_time}],
                            data: [{$sum_t_money}],
                            color: colors[3]
                        }
                    }, {
                        y: {$sum_s|default=0},
                        color: colors[4],
                        drilldown: {
                            name: '预计总收益数据详情（最近10条记录）',
                            categories: [{$sum_s_time}],
                            data: [{$sum_s_money}],
                            color: colors[4]
                        }
                    }, {
                        y: {$sum_g|default=0},
                        color: colors[2],
                        drilldown: {
                            name: '累计总收益数据详情（最近10条记录）',
                            categories: [{$sum_g_time}],
                            data: [{$sum_g_money}],
                            color: colors[2]
                        }
                    }];

            function setChart(name, categories, data, color) {
                chart.xAxis[0].setCategories(categories, false);
                chart.series[0].remove(false);
                chart.addSeries({
                    name: name,
                    data: data,
                    color: color || 'white'
                }, false);
                chart.redraw();
            }

            var chart = $('#container').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: '配资、投资统计'
                },
                subtitle: {
                    text: '点击图标对应列表查看详细数据统计'
                },
                xAxis: {
                    categories: categories
                },
                yAxis: {
                    title: {
                        text: '金额（单位：元）'
                    }
                },
                plotOptions: {
                    column: {
                        cursor: 'pointer',
                        point: {
                            events: {
                                click: function() {
                                    var drilldown = this.drilldown;
                                    if (drilldown) { // drill down
                                        setChart(drilldown.name, drilldown.categories, drilldown.data, drilldown.color);
                                    } else { // restore
                                        setChart(name, categories, data);
                                    }
                                }
                            }
                        },
                        dataLabels: {
                            enabled: true,
                            color: colors[0],
                            style: {
                                fontWeight: 'bold'
                            },
                            formatter: function() {
                                return Highcharts.numberFormat(this.y, 0, ',') +'元';
                            }
                        }
                    }
                },
                tooltip: {
                    formatter: function() {
                        var point = this.point,
                                s = this.x +':<b>'+ Highcharts.numberFormat(this.y, 0, ',') +'元</b><br/>';
                        if (point.drilldown) {
                            s += '点击查看 '+ point.category +' 数据详情';
                        } else {
                            s += '点击返回';
                        }
                        return s;
                    }
                },
                series: [{
                    name: name,
                    data: data,
                    color: 'white'
                }],
                exporting: {
                    enabled: false
                }
            }).highcharts(); // return chart
        });

        $('#tlist_btn').click(function(){
            $(this).addClass('active').siblings('button').removeClass('active');
            $('#tlist').show().siblings('div').hide();
        });
        $('#tcare_btn').click(function(){
            $(this).addClass('active').siblings('button').removeClass('active');
            $('#tcare').show().siblings('div').hide();
        });
    </script>
</block>

</body>
</html>