<extend name="Public/baseweixin" />
<block name="head"><include file='Public/headweixin' /></block>
<block name="head_css">
    <link href="__CSS__/indexweixin.css" rel="stylesheet" />
    <link href="__CSS__/dashboard.css" rel="stylesheet">
</block>
</head> 
<body>
<block name="header"><include file='Public/headerweixin' /></block>
<block name="uctop">
</block>

<block name="main">
    <div class="wewixinmain" style="margin: 50px 0;">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="{:U('index',['mobile'=>'weixin'])}">未读 <span class="badge">{$unread_num}</span></a></li>
            <li role="presentation"><a href="{:U('read',['mobile'=>'weixin'])}">已读</a></li>
            <if condition="I('id')">
                <li role="presentation" class="active"><a href="{:U('view',['mobile'=>'weixin','id'=>$id])}">查看</a></li>
            </if>
        </ul>

        <div class="alert alert-danger alert-dismissible fade in mt30" id="tip" role="alert" >
            <button data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <strong></strong>
        </div>
        <div class="panel panel-default mt30">
            <div class="panel-heading">{$info.title}</div>
            <div class="panel-body">
                {$info.user_con}
            </div>
        </div>
    </div>
</block>

<block name="foot"><include file='Public/ufootweixin' /></block>
<block name="foot_js"></block>
</body>
</html>