<extend name="Public/base" />
<block name="head"><include file='Public/head' /></block>
<block name="head_css">
    <link href="__CSS__/index.css" rel="stylesheet" />
    <link href="__CSS__/dashboard.css" rel="stylesheet">
</block>
</head> 
<body>
<block name="header"><include file='Public/header' /></block>
<block name="nav"><include file='Public/nav' /></block>
<block name="uctop">
    <div class="alert alert-warning" role="alert">
        <span class="glyphicon glyphicon-list" aria-hidden="true"></span> {$seo.title}

    </div>
</block>

<block name="main">
    <ol class="breadcrumb">
        <li><a href="{$crumbs.url}">{$crumbs.title}</a></li>
        <li class="active">{$seo.title}</li>
    </ol>
    <notempty name="uc['pass_qa']" >
        <p class="bg-primary h50">您已经设置过密保问题，可以通过下面操作修改</p>
    </notempty>

    <div class="jumbotron">
        <div class="tip" id="tip">
            <div class="alert alert-danger" role="alert">alert</div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <form action="__SELF__" method="post" class="form-horizontal" role="form" id="form">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">密保问题</label>
                        <div class="col-sm-4">
                            <select name="qa" class="form-control">
                                <foreach name="qlist" item="v">
                                    <option value="{$key}">{$v}</option>
                                </foreach>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAnswer" class="col-sm-4 control-label">答案</label>
                        <div class="col-sm-4">
                            <input type="text" name="answer" class="form-control" id="inputAnswer" placeholder="答案">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPaypwd" class="col-sm-4 control-label">支付密码</label>
                        <div class="col-sm-4">
                            <input type="password" name="paypwd" class="form-control" id="inputPaypwd" placeholder="支付密码">
                        </div>
                        <a href="{:U('paypwd')}" target="_black" class="btn btn-default">忘记密码</a>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" id="button" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">
                                提交验证
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</block>

<block name="foot"><include file='Public/foot' /></block>
<block name="foot_js">
<script type="text/javascript" src="__STATIC__/jquery.form.js"></script>
<script type="application/javascript">
    $('#button').on('click', function () {
        var options = {
            beforeSubmit :showRequest,
            success: showResponse,
            timeout: 3000
        };
        $('#form').ajaxForm(options);
    });

    function showRequest(formData, jqForm, options){
        var queryString = $.param(formData);
        var formElement = jqForm[0];
        var qa = formElement.qa.value;
        var answer = formElement.answer.value;
        var paypwd = formElement.paypwd.value;

        if(qa==''){
            $('#tip').show().children().text('请选择密保问题');
            $("input[name='qa']").focus();
            $('#button').button('reset');
            return false;
        }
        if(answer==''){
            $('#tip').show().children().text('密保答案不能为空');
            $("input[name='answer']").focus();
            $('#button').button('reset');
            return false;
        }
        if(paypwd==''){
            $('#tip').show().children().text('支付密码不能为空');
            $("input[name='paypwd']").focus();
            $('#button').button('reset');
            return false;
        }
        return true;
    };
    function showResponse(data){
        if(data.state === 'success') {
            $('#tip').show().children().text(data.message);
            setTimeout(
                    function(){
                        window.location.href = decodeURIComponent(data.referer);
                    },2000
            );
        }else{
            $('#tip').show().children().text(data.message);
            $('#button').button('reset');
        }
    };
</script>
</block>
</body>
</html>