<extend name="Public/baseweixin" />
<block name="head"><include file='Public/headweixin' /></block>
<block name="head_css">
    <link href="__CSS__/dashboard.css" rel="stylesheet">
</block>
</head> 
<body>
<block name="header"><include file='Public/headerweixin' /></block>
<block name="uctop">

</block>

<block name="main">
    <div class="wewixinmain" style="margin: 50px 0;">
        <switch name="uc['pass_paypwd']">
            <case value="0">
                <div class="tip" id="tip" style="display: none;">
                    <div class="alert alert-danger" role="alert">alert</div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <form action="{:U('paypwdSet')}" method="post" class="form-horizontal" role="form" id="form">
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <input type="password" name="password" class="form-control" id="inputPassword" placeholder="登录密码">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <input type="password" name="paypwd" class="form-control" id="inputPaypwd" placeholder="支付密码">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <input type="password" name="repaypwd" class="form-control" id="inputRepaypwd" placeholder="确认支付密码">
                                </div>
                            </div>
                            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                <div class="btn-group" role="group">
                                    <button type="submit" id="button" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">
                                    确认提交
                                </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </case>
            <case value="1">
                <div class="alert alert-info" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">提示:</span>
                    您已经成功设置支付密码，可以通过验证手机短信验证码后重新设置
                </div>
                <div class="tip" id="tip" style="display: none;">
                    <div class="alert alert-danger" role="alert">alert</div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <form action="{:U('paypwdEdit')}" method="post" class="form-horizontal" role="form" id="form">
                            <div class="form-group">
                                <div class="col-sm-4"> </div>
                                <div class="col-sm-4">
                                    <button type="button" class="btn btn-default" id="btnSendCode" onclick="sendMessage()">点击获取验证码</button>
                                    <button type="button" class="btn btn-default btnSendCode" id="btnSendVoiceCode" onclick="sendVoiceMessage()" style="display: none;">重新获取语音验证码</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <input type="tel" name="verifycode" class="form-control" id="inputVerifyCode" placeholder="手机验证码">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <input type="password" name="paypwd" class="form-control" id="inputPaypwd" placeholder="重置密码">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <input type="password" name="repaypwd" class="form-control" id="inputRepaypwd" placeholder="重置重置密码">
                                </div>
                            </div>
                            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                <div class="btn-group" role="group">
                                    <button type="submit" id="button" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">
                                        确认提交
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </case>
        </switch>
    </div>

</block>

<block name="foot"><include file='Public/ufootweixin' /></block>
<block name="foot_js">
    <script type="text/javascript" src="__STATIC__/jquery.form.js"></script>
    <script>

        var InterValObj; //timer变量，控制时间
        var count = 30; //间隔函数，1秒执行
        var curCount;//当前剩余秒数

        function sendMessage(){
            curCount = count;//设置button效果，开始计时
            $("#btnSendCode").attr("disabled", "true");
            $("#btnSendCode").html("请在" + curCount + "秒内输入验证码");
            InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次
            // 向后台发送处理数据

            $.post("{:U('sendMobileCode')}",function(data){
                if(data.state === 'fail'){
                    $('#tip').show().children().text(data.message);
                    $('#btnSendCode').hide().next().show();
                    window.clearInterval(InterValObj);//停止计时器
                    $("#btnSendCode").removeAttr("disabled");//启用按钮
                    $("#btnSendCode").html("重新获取验证码");
                }
            }, "json");
        }

        function sendVoiceMessage(){
            curCount = count;//设置button效果，开始计时
            $(".btnSendCode").attr("disabled", "true");
            $(".btnSendCode").html("请" + curCount + "秒后重新获取");
            InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次
            // 向后台发送处理数据

            $.post("{:U('sendMobileVoiceCode')}", function(data){
                if(data.state === 'success') {
                    $('#mobileCode').show();
                }else if(data.state === 'fail'){
                    $('#tip').show().children().text(data.message);
                }
            }, "json");
        }

        //timer处理函数
        function SetRemainTime() {
            if (curCount == 0) {
                window.clearInterval(InterValObj);//停止计时器
                $("#btnSendCode").removeAttr("disabled");//启用按钮
                $("#btnSendCode").html("重新获取验证码");
            }
            else {
                curCount--;
                $("#btnSendCode").html("请在" + curCount + "秒内输入验证码");
            }
        }

        $('#button').on('click', function () {
            var options = {
                beforeSubmit :showRequest,
                success: showResponse,
                timeout: 3000
            };
            $('#form').ajaxForm(options);
        });

        function showRequest(formData, jqForm, options){
            var queryString = $.param(formData);
            var formElement = jqForm[0];
            var paypwd = formElement.paypwd.value;
            var repaypwd = formElement.repaypwd.value;

            if(paypwd==''){
                $('#tip').show().children().text('重置密码不能为空');
                $("input[name='paypwd']").focus();
                $('#button').button('reset');
                return false;
            }
            if(repaypwd==''){
                $('#tip').show().children().text('确认重置密码不能为空');
                $("input[name='repaypwd']").focus();
                $('#button').button('reset');
                return false;
            }
            return true;
        };
        function showResponse(data){
            if(data.state === 'success') {
                $('#tip').show().children().text(data.message);
                setTimeout(
                    function(){
                        window.location.href = decodeURIComponent(data.referer);
                    },2000
                );
            }else{
                $('#tip').show().children().text(data.message);
                $('#button').button('reset');
            }
        };
    </script>
</block>
</body>
</html>