<extend name="Public/baseweixin" />
<block name="head"><include file='Public/headweixin' /></block>
<block name="head_css">
    <link href="__CSS__/dashboard.css" rel="stylesheet">
    <link href="__CSS__/indexweixin.css" rel="stylesheet">
    <style type="text/css">
        .wewixinmain .page span ,.wewixinmain .page a{
            display: inline-block;
            margin: 5px 5px 5px 0;
        }
        .list-group-item span{
            display: inline-block;
            width: 80px;
        }
    </style>
</block>
</head> 
<body>
<block name="header"><include file='Public/headerweixin' /></block>

<block name="uctop"></block>

<block name="main">
    <div class="wewixinmain" style="margin: 50px 0;">
        <ul class="nav nav-tabs">
            <li role="presentation"><a href="{:U('index',['mobile'=>'weixin'])}">在线充值</a></li>
            <!--<li role="presentation"><a href="{:U('bank',['mobile'=>'weixin'])}">银行转账</a></li>-->
            <li role="presentation" class="active"><a href="{:U('log',['mobile'=>'weixin'])}">充值记录</a></li>
        </ul>
        <!--<div class="alert alert-danger alert-dismissible fade in mt30" id="tip" role="alert" >-->
            <!--<button data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>-->
            <!--<strong></strong>-->
        <!--</div>-->
        <if condition="$_list">
            <div class="row" style="margin-top: 30px">
                <div class="col-md-12">
                    <foreach name="_list" item="v">
                    <ul class="list-group">
                        <li class="list-group-item"><span>单号：</span><strong>{$v.billno}</strong></li>
                        <li class="list-group-item"><span>类型：</span><strong>{:methodsFoRecord($v['methods'])}</strong></li>
                        <li class="list-group-item"><span>充值金额：</span><strong>{$v.amount}</strong></li>
                        <li class="list-group-item"><span>时间：</span><strong>{$v.created_time|time_format}</strong></li>
                        <li class="list-group-item"><span>状态：</span><strong>{:status($v['status'])}</strong></li>
                        <li class="list-group-item"><span>备注：</span><strong>{$v.remark}</strong></li>
                    </ul>
                    </foreach>
                    <div class="page">
                        {$_page}
                    </div>
                </div>
            </div>
            <else/>
            <div class="paizi nolist mt50">
                <a href="">我要充值</a>
            </div>
        </if>
    </div>
</block>

<block name="foot"><include file='Public/ufootweixin' /></block>
<block name="foot_js">

</block>
</body>
</html>