<h3>风险揭示书</h3>
<p>尊敬的{$username}： 当您准备成为六合资本的配资客户之前，请您认真阅读配资风险揭示书，以便使您对配资所带来风险有一个正确的认识 ，从而对您即将作出的决定提供参考。</p>
<p>配资做股票是一个高杠杆高风险的资本运作，当您把握住了行情走势或者选对了投资标的时，配资的杠杆可以使您缩短财富积累的时间从而快速实现财富梦想；反 之，则会带来您本金的快速缩水从而给您造成巨大的资产损失！ 请客户确定选择配资和配资杠杆比例时严谨而慎重！</p>
<p>本人《机构》已阅读上述风险揭示书，充分了解并清楚知晓股票配资产品的风险并愿意承担相关风险。同时本人承诺：如市场发生极端情况，在本人保证金无法弥补出借方本金的情况下，本人将追加交易保证金，以确保出借方资金本金不受损失！ </p>
<br/>您的合同协议已经生成，
<br/>合同预览地址：
<br/><a href="{$url}" style="color: #ff6600;font-size:16px;">{$url}</a>
<br/>
<br/>{$sitename}
<br/>{$time}