<!DOCTYPE html>
<html>
<head>
    <block name="head">head</block>
    <block name="head_css">head_css</block>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
<div class="wrapper">

    <block name="main-header">main-header</block>
    <!-- Left side column. contains the logo and sidebar -->
    <block name="main-sidebar">main-sidebar</block>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <block name="content-header">content-header</block>

    <!-- Main content -->
    <section class="content">
        <block name="content">content</block>
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

<footer class="main-footer">
    <block name="main-footer">main-footer</block>
</footer>

</div><!-- ./wrapper -->

<block name="foot">foot</block>
</body>
</html>
