<!doctype html>
<html>
<head>
<include file='Public/head' />
</head>
<body>
<div class="wrap J_check_wrap">
    <div class="nav">
        <ul class="cc">
            <li class="current"><a href="{:U('reply')}">回复管理</a></li>
            <li><a href="{:U('checkReply')}">回复审核</a></li>
            <li><a href="{:U('recycleReply')}">回复回收站</a></li>
        </ul>
    </div>
    
    <div class="h_a">功能说明</div>
    <div class="prompt_text">
        <ol>
            <li>删除符合条件的回复，此操作可恢复，请前往回复回收站恢复。</li>
            <li>初始页面没有加载数据，请使用搜索查看。</li>
            <li>搜索支持回复标题和用户名模糊查询。</li>
        </ol>
    </div>
    <div class="h_a">搜索</div>
    <form method="post" action="{:U('searchReply')}">
    <input type="hidden" name="p" value="{$p|default=1}">
    <input type="hidden" name="soso" value="1">
    <div class="search_type cc mb10">
        <label>关键字：</label>
        <input type="text" name="keyword" value="{$keyword|default=''}" class="input length_3 mr10" placeholder="支持帖子标题搜索">
        <label>作者：</label>
        <input type="text" name="nickname" value="{$nickname|default=''}" class="input length_2 mr10">
        <label>所属版块：</label>
        <select name="forum_id" class="select_3 mr10">
        <option value="0">所有版块</option>
        <foreach name="flist" item="f">
        <option value="{$f.id}" {:is_selected($f['id'],$forum_id)}>{$f.title}</option>
            <foreach name="f['child']" item="c">
            <option value="{$c.id}" {:is_selected($c['id'],$forum_id)}>  |- {$c.title}</option>
            </foreach>
        </foreach>
        </select>
        <button class="btn mr5" type="submit">搜索</button>
        <a class="btn mr5 J_dialog" href="{:U('advancedReply')}" type="submit" title="高级搜索">高级搜索</a>
        <notempty name="soso">
        <if condition="$soso">
        <button type="reset" class="btn btn_error" onclick="window.location.href='{:U('reply')}'">撤销检索</button>
        </if>
        </notempty>
    </div>
    </form>
    
    <form class="J_ajaxForm" action="{:U('delReply')}" method="post">
    <notempty name="list">
    <div class="table_list">
        <table width="100%">
            <colgroup>
                <col width="60">
                <col width="300">
            </colgroup>
            <thead>
                <tr>
                    <td><label><input type="checkbox" class="J_check_all" data-direction="x" data-checklist="J_check_x">全选</label></td>
                    <td>内容</td>
                    <td>作者</td>
                    <td>IP</td>
                    <td>版块</td>
                    <td><span>发帖时间</span></td>
                </tr>
            </thead>
            <foreach name="list" item="v">
            <tr>
                <td><input type="checkbox" class="J_check" data-yid="J_check_y" data-xid="J_check_x" name="id[]" value="{$v['id']}"></td>
                <td><a href="" target="_blank">{$v['content']}</a></td>
                <td><a href="" target="_blank">{$v['nickname']}</a></td>
                <td>{$v['create_ip']}</td>
                <td><a href="" target="_blank">{$v['name']}</a></td>
                <td>{$v['create_time']|time_format}</td>
            </tr>
            </foreach>
        </table>
    </div>
    <div class="page">
    {$_page}
    </div>
    <else/>
        <div class="not_content_mini"><i></i>啊哦，没有符合条件的内容！</div>
    </notempty>
    <notempty name="list">
    <div class="btn_wrap">
        <div class="btn_wrap_pd">
            <div class="select_pages">
                <a href="{:U('setCookie',array('rows'=>1))}" class="J_ajax_del" data-msg="调整后请重新搜索查询？">20</a><span>|</span>
                <a href="{:U('setCookie',array('rows'=>5))}" class="J_ajax_del" data-msg="调整后请重新搜索查询？">50</a><span>|</span>
                <a href="{:U('setCookie',array('rows'=>3))}" class="J_ajax_del" data-msg="调整后请重新搜索查询？">100</a>
            </div>
            <label class="mr20"><input type="checkbox" class="J_check_all" data-direction="y" data-checklist="J_check_y">全选</label>
            <button class="btn J_ajax_submit_btn" data-subcheck="true" data-msg="确定要删除吗？" type="submit">删除</button>
            <button class="btn  btn_error J_ajax_submit_btn" type="submit" data-action="{:U('delPost',array('isDeductCredit'=>1))}" data-subcheck="true">删除并扣除积分</button>
        </div>
    </div>
    </notempty>
    </form>
</div>
<include file='Public/foot' />
</body>
</html>