<!doctype html>
<html>
<head>
<include file='Public/head' />
</head>
<body style="width:450px" class="body_none">
    <form class="J_ajaxForm" action="__SELF__" method="post">
    <input type="hidden" name="oldIcon" value="{$tag.icon}">
    <input type="hidden" name="tag_id" value="{$tag.tag_id}">
    <div style="padding:0 0 15px 15px;">
        <div class="pop_table" style="overflow-x:hidden;">
            <table width="100%">
                <tr>
                    <th>话题名称</th>
                    <td><span class="must_red">*</span><input type="text" name="tag[name]" value="{$tag.tag_name}" class="input length_5 input_hd"></td>
                </tr>
                <tr>
                    <th>话题图片</th>
                    <td>
                        <if condition="$tag['iflogo']">
                        <div id="logo"><img src="{$tag.tag_logo}" height="50" width="50" class="mr10 fl"><a href="javascript:;" id="showBtn" class="fl" style="line-height:50px;">重新上传</a></div>     
                        </if>
                        <div id="hideBtn" <if condition="$tag['iflogo']">style="display:none;"</if>>
                            <input type="file" id="upload_picture">
                            <input type="hidden" name="icon" id="icon" value="{$info['icon']|default=''}"/>
                            <div class="upload-img-box">
                            <notempty name="info['icon']">
                                <div class="upload-pre-item"><img src="__ROOT__{$info.icon|get_cover='path'}"/></div>
                            </notempty>
                            </div>
                        </div>
                    </td>
                </tr>
                <if condition="$categories">
                <tr>
                    <th>话题分类</th>
                    <td>
                        <ul class="three_list cc">
                        <foreach name="categories" item="v">
                            <if condition="in_array($v['category_id'],$hasCates)">
                            <li><label><input type="checkbox" value="{$v['category_id']}" name="tag[category][]" checked="">{$v['category_name']}</label></li>
                            <else/>
                            <li><label><input type="checkbox" value="{$v['category_id']}" name="tag[category][]">{$v['category_name']}</label></li>
                            </if>
                        </foreach>
                        </ul>
                    </td>
                </tr>
                </if>
                <tr>
                    <th>关联话题</th>
                    <td>
                        <input type="text" name="tag[relate_tags]" value="{$parentTags}" class="input length_5">
                        <div class="fun_tips">多个关联话题请用,分割</div>
                    </td>
                </tr>
                <tr>
                    <th>话题描述</th>
                    <td><textarea name="tag[excerpt]" class="length_5">{$tag.excerpt}</textarea></td>
                </tr>
                <tr>
                    <th>title设置</th>
                    <td><input type="text" name="tag[seo_title]" value="{$tag.seo_title}" class="input length_5"></td>
                </tr>
                <tr>
                    <th>description设置</th>
                    <td><input type="text" name="tag[seo_description]" value="{$tag.seo_description}" class="input length_5"></td>
                </tr>
                <tr>
                    <th>keywords设置</th>
                    <td><input type="text" name="tag[seo_keywords]" value="{$tag.seo_keywords}" class="input length_5"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="pop_bottom">
        <button class="btn fr" id="J_dialog_close" type="button">取消</button>
        <button type="submit" class="btn btn_submit J_ajax_submit_btn fr mr10">提交</button>
    </div>
    </form>
    <include file='Public/foot_min' />
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript">
 $('#showBtn').click(function(){
        $(this).parent('div').hide().next('div').show();
 });
//上传图片
/* 初始化上传插件 */
$("#upload_picture").uploadify({
    "height"          : 30,
    "swf"             : "__STATIC__/uploadify/uploadify.swf",
    "fileObjName"     : "download",
    "buttonText"      : "上传图片",
    "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
    "width"           : 120,
    'removeTimeout'   : 1,
    'fileTypeExts'    : '*.jpg; *.png; *.gif;',
    "onUploadSuccess" : uploadPicture,
    'onFallback' : function() {
        alert('未检测到兼容版本的Flash.');
    }
});
function uploadPicture(file, data){
    var data = $.parseJSON(data);
    var src = '';
    if(data.status){
        $("#icon").val(data.id);
        //src = data.url || '__ROOT__' + data.path;
        src = data.url || data.path;
        $("#icon").parent().find('.upload-img-box').html(
            '<div class="upload-pre-item"><img src="' + src + '"/></div>'
        );
    } else {
        updateAlert(data.info);
        setTimeout(function(){
            $('#top-alert').find('button').click();
            $(that).removeClass('disabled').prop('disabled',false);
        },1500);
    }
}
</script>
</body>
</html>