<!doctype html>
<html>
<head>
<include file='Public/head' />
</head>
<body>
<div class="wrap">
	<div class="h_a">常用菜单</div>
	<form class="J_ajaxForm" action="__SELF__" method="post">
	<div class="table_full J_check_wrap">
		<table width="100%">
			<col class="th" />
			<col width="400" />
			<col />
			<volist name="node_list" id="node" >
			<php>$disabled = $node['id'] == 1 ? 'disabled="true" checked' : '';</php>
			<tr>
				<th><label><input {$disabled} id="J_role_{$node['id']}" class="J_check_all" data-direction="y" data-checklist="J_check_{$node['id']}" type="checkbox"><span>{$node.title}</span></label></th>
				<td>
					<ul data-name="{$node['id']}" class="three_list cc J_ul_check">
						<volist name="node['child']" id="child" >
						<li><label><input {$disabled} name="customs[]" data-yid="J_check_{$node['id']}" class="J_check" type="checkbox" value="{$child['id']}"><span>{$child.title}</span></label>
						</li>
						</volist>
					</ul>
				</td>
				<td><div class="fun_tips"></div></td>
			</tr>
			</volist>
		</table>
	</div>
	<div class="btn_wrap">
		<div class="btn_wrap_pd">
			<button class="J_ajax_submit_btn btn btn_submit" type="submit">提交</button>
		</div>
	</div>
	</form>
</div>
<include file='Public/foot' />
<script>
var ROLE_AUTH_CONFIG = {$myMenu}; //当前角色的已有权限集合
Wind.js(GV.JS_ROOT+ 'pages/admin/role_manage.js?v=' +GV.JS_VERSION);
</script>
</body>
</html>