<!doctype html>
<html>
<head>
<include file='Public/head' />
</head>
<body>
<div class="wrap">
    <div class="nav">
        <ul class="cc">
            <li class="current"><a href="{:U('index')}">行为管理</a></li>
            <li><a href="{:U('log')}">日志管理</a></li>
        </ul>
    </div>
    <div class="h_a">提示信息</div>
    <div class="mb10 prompt_text">
        <ul>
            <li>行为管理 -- 对平台相关行为进行统一管理：新增、编辑、删除、查询、启用、禁用等操作</li>
        </ul>
    </div>
    <div class="mb10"><a class="btn J_dialog" href="{:U('add')}" title="添加行为" role="button"><span class="add"></span>添加行为</a></div>
    <div class="h_a">搜索</div>
    <div class="search_type cc mb10">
        <form action="__SELF__" method="post">
            <input type="hidden" name="p" value="{$p|default=1}">
            <input type="hidden" name="soso" value="1">
            <label>关键字：</label><input name="keyword" type="text" class="input length_2 mr10" value="{$keyword|default=''}">
            <label>类型：</label>
            <select name="type" class="select_2 mr10">
                <option value="-1">请选择</option>
                <volist name=":get_action_type(null,true)" id="vo">
                <option value="{$key}" {:is_selected($type,$key)}>{$vo}</option>
                </volist>
            </select>
            <label>状态：</label>
            <select name="status" class="select_2 mr10">
                <option value="-1">请选择</option>
                <option value="0" {:is_selected($status,0)}>禁用</option>
                <option value="1" {:is_selected($status,1)}>正常</option>
            </select>
            <button type="submit" class="btn">搜索</button>
            <notempty name="soso">
            <if condition="$soso">
            <button type="reset" class="btn btn_error" onclick="window.location.href='{:U('index')}'">撤销检索</button>
            </if>
            </notempty>
        </form>
    </div>
    <div id="top-alert" class="alert alert-error" style="display: none;">
        <button class="close fixed" style="margin-top: 4px;">×</button>
        <div class="alert-content">这是内容</div>
    </div>
    <notempty name="_list">
    <div class="table_list">
        <table width="100%">
            <thead>
                <tr>
                    <td width="30">ID</td>
                    <td>标识</td>
                    <td>名称</td>
                    <td>类型</td>
                    <td>规则</td>
                    <td>状态</td>
                    <td>操作</td>
                </tr>
            </thead>
        <volist name="_list" id="vo">
            <tr>
                <td>{$vo.id}</td>
                <td>{$vo.name}</td>
                <td><a href="{:U('edit',array('id'=>$vo['id']))}" class="J_dialog">{$vo.title}</a></td>
                <td><span>{:get_action_type($vo['type'])}</span></td>
                <td>{$vo.remark}</td>
                <td>{$vo.status_text}</td>
                <td>
                    <a href="{:U('edit',array('id'=>$vo['id']))}" class="J_dialog mr10">编辑</a>
                    <eq name="vo['status']" value="1">
                    <a href="{:U('disable',array('id'=>$vo['id']))}"
                        class="J_set_def mr10">禁用</a>
                    <else/>
                    <a href="{:U('enable',array('id'=>$vo['id']))}"
                        class="J_set_def mr10">启用</a>
                    </eq>
                    <a href="{:U('del',array('id'=>$vo['id']))}" class="J_ajax_del">删除</a>
                </td>
            </tr>
        </volist>
        </table>
    </div>
    <div class="page">
        {$_page}
    </div>
    <else/>
    <div class="not_content_mini"><i></i>啊哦，没有符合条件的内容！</div>
    </notempty>
    
</div>
<include file='Public/foot' />
<script type="text/javascript">
    Wind.use('global', function(){
        var timer;
        $('.J_set_def').on('click', function(e){
            e.preventDefault();
            var $this = $(this);
            $.post(this.href, function(data){
                if(data.status == 1) {
                    resultTip({
                        msg : data.info
                    });
                    clearTimeout(timer);
                    timer = setTimeout(function(){
                        reloadPage(window);
                    }, 1000);
                }else{
                    resultTip({
                        error : true,
                        msg : data.info
                    });
                }
            }, 'json');
        });
    });
</script>
</body>
</html>