<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{$seo.title} - {:C('WEB_SITE_TITLE')}</title>

    <!-- Bootstrap -->
    <link href="__STATIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <p class="text-right">编号：__</p>
    <h3><p class="text-center">（配资）借款协议</p></h3>
    <p>本借款协议（下称“本协议”）由以下各方于____年__月__日签署：</p>
    <p><strong>甲方（出借人）：</strong></p>
    <p>六合资本网站用户名：__</p>
    <p><strong>乙方（借款人）：</strong></p>
    <p>六合资本网站用户名：__</p>
    <p>真实姓名：__</p>
    <p>身份证号：__</p>
    <p><strong>丙方（见证人）：武汉六合资本资产管理股份有限公司</strong></p>
    <p>联系方式：武汉武昌水果湖街汉街1栋/单元32层</p>
    <p><strong>鉴于：</strong></p>
    <ol>
        <li>丙方是一家在武汉市合法成立并有效存续的股份有限公司，拥有www.6hezb.com 网站（下称“六合资本网站”）的经营权，提供信用咨询，为交易提供信息服务；</li>
        <li>乙方已在六合资本网站注册，并承诺其提供给丙方的信息是完全真实的；</li>
        <li>乙方有借款需求，甲方亦同意借款，双方有意成立借贷关系。</li>
    </ol>
    <p><strong>据此，各方经协商一致，达成如下协议，以资共同遵照履行：</strong></p>
    <p><strong>1. 借款基本信息</strong></p>
    <div class="table-responsive">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th scope="row">借款金额</th>
                <td>__元；大写：人民币__</td>
            </tr>
            <tr>
                <th scope="row">借款期限</th>
                <td>__个月，____年__月__日起，至____年__月__日止</td>

            </tr>
            <tr>
                <th scope="row">借款利率</th>
                <td>__%/月</td>
            </tr>
            <tr>
                <th scope="row">还款方式</th>
                <td>按月付息，到期还本</td>
            </tr>
            <tr>
                <th scope="row">月还款利息</th>
                <td>__元</td>
            </tr>
            <tr>
                <th scope="row">到期应还本息</th>
                <td>__元</td>
            </tr>
            <tr>
                <th scope="row">还款日</th>
                <td>
                    <div style="line-height: 30px;">自____年__月__日起，每月__日为付息日</div>
                    <div style="font-size: 14px; line-height: 30px; border-top: 1px solid #EEEEEE">（若当月没有该日，则还款日为当月最后一天，节假日不顺延）</div>
                </td>
            </tr>
            <tr>
                <th scope="row">期货交易账户</th>
                <td>期货公司：__；交易账号：__</td>
            </tr>
            </tbody>
        </table>
    </div>

    <p><strong>2. 协议的订立及支付</strong></p>
    <p>2.1 各方同意并确认，各方通过自行或授权有关方根据六合资本网站有关规则和说明，在六合资本网站进行配资申请和投标操作等方式确认签署本协议。</p>
    <p>2.2 为保证甲方资金的安全，乙方愿意以自有资金向甲方提供相应比例的保证金作为借款履约保证，乙方同时承诺该资金只用于在中国证券（期货）市场进行投资交易。</p>
    <p>2.3 各方通过上述方式接受本协议且丙方审核通过时，本协议立即成立；协议成立的同时甲乙双方不可撤销地授权丙方将出借款项在扣除相关费用后划转至相应证券（期货）账户；出借款项由丙方根据授权划转完成时，本协议正式生效。</p>
    <p>2.4 甲方和乙方同意并授权丙方按本协议及六合资本网站有关规则的约定对出借款项和相关费用进行划扣和支付，并由丙方代为收取乙方支付的借款本息及有关费用。</p>

    <p><strong>3.操作方式及风险控制</strong></p>
    <p>3.1 与丙方合作的证券（期货）公司开设的指定账户为出借账户，乙方有权使用账户中的资金总额按本协议约定进行中国国内四个期货交易所（上海，大连，郑州，中金所）所有“活跃交易品种”（“活跃交易品种”是指前三个交易日平均成交高于20000手的主力期货合约）的主力合约的交易。 </p>
    <p>3.2 为保证资金安全，乙方将资金转入出借账户内，作为借款保证金。以六合资本网站或银行的转账凭证作为保证金的凭证。甲方的借款和乙方的保证金在以上证券交易账户内以用于证券(期货）投资。</p>
    <p>3.3 甲乙双方共同同意委托丙方对协议中的证券（期货）交易账户及资金进行全程管理和风险控制。</p>
    <p>3.4 出借账户中的证券（期货）交易账户的交易密码应当乙丙双方知悉，在合同期内非特殊原因，任何一方均不得擅自更改，否则视为严重违约，按账户资金总额的10%计算违约金。</p>
    <p>3.5 特殊免责条款：鉴于计算机软硬件环境的差异性和复杂性，及协议过程中不能预见，不能避免，不能克服的不可抗力影响，丙方基于网络平台所提供的服务可能因政策原因、网络原因、市场波动、乙方或第三方业务系统故障等非甲方丙方原因出现停顿、延误或中断，乙方对此给予充分的谅解，不对此追究丙方之法律和经济责任。</p>

    <p><strong>4. 各方权利和义务</strong></p>
    <p><strong>4.1 甲方的权利和义务</strong></p>
    <p>4.1.1 甲方有权代理出借人出借资金、签订《借款协议》和《借款确认书》，按本协议约定向借款人出借资金、收回借款和收取利息、综合管理费、违约金，及时将期货账户的交易密码告知乙方，并保密相关交易信息，不得透露期货账户的交易详情,不参与期货交易账户的盈利分配。</p>
    <p>4.1.2 甲方及委托单位有权监管期货账户和期货子账户的运作，对乙方进行账户管理和风险控制。</p>
    <p>4.1.3 除本协议另有约定外，甲方在本协议执行期内不得提取、划转账户内的资金，不得修改交易密码，不得转托管，不得进行任何买卖期货的操作，不得撤销指定交易，不得注销、挂失或停止使用期货账户、期货子账户（因期货公司原因除外），也不得调出或处置期货账户内资产；否则，给乙方造成损失的，甲方应承担相应赔偿责任。</p>
    <p>4.1.4 借款期满，乙方应将借款本金归还给甲方并不再使用甲方期货账户进行交易，否则甲方有权销户或修改交易密码，调出或处置期货账户内资产。</p>

    <p><strong>4.2 乙方权利和义务</strong></p>
    <p>4.2.1 乙方可以通过甲方期货账户按照本协议约定进行买卖操作，有权收取使用账户内资金总额投资所得的收益，承担全部损失；无论账户盈亏如何，乙方须按本协议约定向甲方支付利息和综合管理费。</p>
    <p>4.2.2 如任一账户内的所有交易品种出售（即清盘）后，还不足以归还该笔借款本金金额，乙方必须在清盘后三日内将亏损额补足归还给甲方，否则甲方有权进行追偿或从乙方进行交易的其他账户中扣除相应金额。</p>
    <p>4.2.3 乙方操作账户时，仅可购买约定的期货品种或主力合约，甲方及委托单位有权对违反本约定的品种立即进行部分或全部平仓处理，乙方认可甲方及委托单位的此项操作，并对因此带来的损失承担完全的责任。</p>
    <p>4.2.4 乙方不得进行坐庄、对敲、接盘、内幕信息、开设聚赌场所等违反期货交易法律法规及期货公司规定的交易，如有任一次上述交易行为，应支付给甲方借款额10%的违约金，并直接从保证金中扣除，且乙方不得转借帐户给他人操作，因上述行为产生的一切责任和损失，均由乙方承担。</p>
    <p>4.2.5 如因乙方违规操作、债务等原因，导致甲方账户（包括银行账户和期货账户）被依法采取查封、冻结、划拨等强制措施，造成甲方损失的，乙方应从账户被依法处置之日起按借款本金及利息管理费之和的0.1%每日向甲方支付违约金，如违约金不足以弥补给甲方造成的损失，乙方应承担赔偿责任。借款期满仍未解除强制措施的,本协议自动终止,乙方应另行全额归还甲方出借资金、支付利息和综合管理费，并按约支付违约金。</p>
    <p>4.2.6 过夜商品期货总仓位不得超过保证金余额的二倍；过夜股指期货总仓位不能超过保证金余额的三倍，所有不符合规定的持仓在四大交易所规定交易时间收盘前5分钟之前自行调整好仓位，且这个时间段乙方只能平仓，不得再开新仓。如果乙方违反上述约定操作，甲方及委托单位有权对乙方所有持仓品种进行部分或全部平仓处理，造成的一切损失均由乙方承担。如果甲方及委托单位已经实行平仓，乙方再建立仓位或因此被迫留仓，此次交易如产生亏损，亏损额由乙方负责；如产生盈利，盈利部分归甲方所有。乙方承诺对因此带来的损失承担全部责任。</p>
    <p>4.2.7 对于接近涨跌停板附近的交易，合约价格2%以内，不得新开与持有反向单，甲方有权对违规持仓按市价强行平仓。如乙方在甲方完成平仓后再次建仓，属于乙方严重违约，甲方可即时终止合约，因此产生的亏损，由乙方完全负责，且账户内全部资金归甲方所有。</p>
    <p>4.2.8 乙方在操作过程中，由于操作不当导致亏损时，应严格遵循警戒线和平仓线的规则。</p>
    <p>（1）警戒线：乙方保证期货账户内的自有保证金不得低于初始保证金的 50%，当期货账户自有保证金低于警戒线时，乙方必须补入保证金，使期货账户自有保证金达到警戒线以上，如未及时追加保证金且自有保证金低于平仓线时，甲方及委托单位有权将期货子帐户平仓。甲方有权但无义务对警戒线进行任何形式的通知。</p>
    <p>（2）平仓线：当期货账户内的自有保证金低于初始保证金的 30% 时，甲方及委托单位有权在不通知乙方的前提下将持仓品种全部平仓并限制开仓。当期货帐户因行情涨跌幅达到极限标准即涨跌停板（+/-）10%的商品或股指只能以自有资金持仓,否则甲方及委托单位有权对期货账户强制全部平仓，由此而造成的一切损失均由乙方承担。</p>
    <p>4.2.9 提取盈利：当指定账户资产总值高于双方共同注资额的盈利部分，乙方有权要求甲方或丙方协助在两个工作日内提取至乙方的六合资本平台账户或其绑定银行卡内。</p>
    <p>4.2.10 乙方若要续约，必须在离借款到期的三个交易日前，向丙方提出续约申请的相关事宜。乙方正常终止协议，应在借款到期的前一个交易日，将期货账户内的总资产全部变为可提现的货币资金，未及时清仓或期满后又表示不续约的，需支付一个月利息和管理费作为违约金。</p>
    <p>4.2.11 乙方应确保其提供的信息和资料的真实性，不得提供虚假信息或隐瞒重要事实。乙方不得将本协议项下的任何权利义务转让给任何其他方。</p>
    <p>4.2.12 乙方签订本合同后，表明乙方已完全了解网上交易可能存在的相应风险，以及自身决策失误造成的损失，并承诺自行承担。</p>

    <p><strong>4.3 丙方的权利和义务</strong></p>
    <p>4.3.1 甲方同意向乙方出借相应款项时，甲乙双方已委托丙方在本协议成立后将该笔借款及保证金划付至相应期货账户，并对资金安全进行相应的风险控制。</p>
    <p>4.3.2 乙方授权丙方，如果乙方未能履行本协议约定的任何义务，丙方无论是否事先通知乙方，均可直接从乙方保证金中划扣乙方应付欠款。本授权委托在本协议法定诉讼时效内不可撤销。</p>
    <p>4.3.3 丙方接受甲乙双方的委托行为所产生的法律后果由相应委托方承担。如因乙方或甲方或其他方（包括但不限于技术问题）造成的延误或错误，丙方不承担任何责任。</p>
    <p>4.3.4 丙方应对甲方和乙方的信息及本协议内容保密；如任何一方违约，或因相关权力部门要求（包括但不限于法院、仲裁机构、金融监管机构等），丙方有权披露。</p>

    <p><strong>5. 违约责任</strong></p>
    <p>5.1 合同各方均应严格履行合同义务，非经各方协商一致或依照本协议约定，任何一方不得解除本协议。</p>
    <p>5.2 任何一方违约，违约方应承担因违约使得其他各方产生的费用和损失。</p>
    <p>5.3 本协议提前解除时，若违约方在六合资本网站的账户里有任何资金余款，丙方有权按照本协议将余款用于清偿。</p>
    <p>5.4 乙方应严格履行还款义务，如乙方逾期还款，则应按照下述条款向甲方支付逾期罚息，向丙方支付逾期管理费，自逾期开始之后，逾期本金的正常利息停止计算。</p>
    <div class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <th colspan="3" scope="row">罚息总额 = 逾期本息总额×对应罚息利率×逾期天数</th>
            </tr>
            <tbody>
            <tr>
                <th scope="row">逾期天数</th>
                <td>1—7天</td>
                <td>7天及以上</td>
            </tr>
            <tr>
                <th scope="row">罚息利率</th>
                <td>0.1%/天</td>
                <td>0.3%/天</td>
            </tr>
            </tbody>
        </table>
    </div>
    <p>5.6 如果乙方逾期支付任何一期还款超过15天，或连续逾期三期以上（含三期），或累计逾期达五期以上（含五期），或甲方/丙方发现乙方出现逃避、拒绝沟通或拒绝承认欠款事实、故意转让资金、信用情况恶化等危害本协议借款的情形，则本协议项下的全部借款本息提前到期，同时：</p>
    <p>（1）乙方应立即清偿本协议下尚未偿付的全部本金、利息、罚息及根据本协议产生的其他全部费用；</p>
    <p>（2）丙方有权将证券账户强行平仓，将剩余资金用于偿还各项费用。</p>
    <p>（3）丙方有权将乙方违约失信的相关信息及乙方其他信息向包括但不限于媒体、用人单位、公安机关、检查机关、法律机关及有关逾期款项催收服务机构披露。对此丙方不承担任何责任。</p>
    <p>6.7 本借款协议中的所有甲方与乙方之间的借款均是相互独立的，一旦乙方逾期未归还借款本息，甲方中的任何一方均有权单独向乙方追索或者提起诉讼。如乙方逾期支付借款管理费或提供虚假信息的，丙方亦可单独向乙方追索或者提起诉讼。</p>

    <p><strong>6. 提前还款</strong></p>
    <p>6.1 乙方可在借款期间任何时候提前偿还全部剩余借款。</p>
    <p>6.2 乙方提前清偿全部剩余借款时，应向甲方丙方支付当期应还本息和管理费，剩余本金及提前还款补偿（补偿金额为借款金额的2%）。活动期间非月结算模式可即时终止合约且不承担违约责任。</p>

    <p><strong>7. 法律适用及争议解决</strong></p>
    <p>7.1 本协议的签订、履行、终止、解释均适用中华人民共和国法律。</p>
    <p>7.2 本协议在履行过程中，如发生任何争执或纠纷，双方应友好协商解决；若协商不成，任何一方均有权向丙方所在地的人民法院提起诉讼。</p>

    <p><strong>8. 附则</strong></p>
    <p>8.1 各方可以书面协议方式对本协议作出修改和补充。经过各方签署的有关本协议的修改协议和补充协议是本协议组成部分，具有与本协议同等的法律效力。</p>
    <p>8.2 本协议及其修改或补充均采用通过六合资本网站以电子文本形式制成，可以有一份或者多份并且每一份具有同等法律效力，并永久保存在丙方为此设立的专用服务器上备查和保管。双方均认可该形式的协议效力。</p>
    <p>8.3 如果本协议中的任何一条或多条违反适用的法律法规，则该条将被视为无效，但该无效条款并不影响本协议其他条款的效力。</p>
    <p>8.4 本协议签订之日起至借款本息和有关费用全部清偿之日止，甲方或乙方的下列信息如发生变更的，其应当在相关信息发生变更三日内将更新后的信息提供给丙方：本人、本人的家庭联系人及紧急联系人、工作单位、居住地址、住所电话、手机号码、电子邮箱、银行账户的变更。若因任何一方不及时提供上述变更信息而带来的损失或额外费用应由该方自行承担。</p>
    <p>8.5 甲乙丙三方在操作过程中，存在政策风险、市场风险、经营风险、管理风险、自然风险以及其他非丙方所导致的不可预知的系统风险，此等风险有可能导致三方遭受财产损失。具体风险揭示及风险防范措施需三方自行了解，谨慎操作，识别风险、预警风险及控制损失的发生，丙方不承担任何此等风险产生的责任。</p>
    <p>8.6 本网站拥有对本协议的最终解释权。</p>
</div>
</body>
</html>