
<extend name="Public/base" />
<block name="head"><include file='Public/headweixin' /></block>
<block name="head_css">
    <link href="__CSS__/indexweixin.css?v={:v()}" rel="stylesheet" />
</block>
</head>
<body>
<div class="wrap">
<block name="header"></block>
<block name="main">
    <div class="container-fluid">
        <form id="form" action="{:U('Peizi/needs',['mobile'=>'weixin'])}" method="post" role="form" class="form-horizontal">
            <input type="hidden" name="caches" value="{$needs.caches|default=0}">
            <input type="hidden" name="from" value="peizi">
            <input type="hidden" name="with_funds" value="{$needs.with_funds|default=''}" class="form-control" id="with_funds" readonly aria-describedby="inputGroupSuccess1Status">
            <div class="row">
                <div class="col-md-4">
                    <h3>填写自有资金 <small>范围在1-1000内</small></h3>
                    <div class="input-group input-group-lg mt30">
                        <input type="number" name="own_funds" id="own_funds" value="{$needs.own_funds|default=''}" placeholder="自有金额" class="form-control">
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default">万</button>
                              </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3>配资比例 <small>范围在1-5内</small></h3>
                    <div class="input-group input-group-lg mt30">
                        <input type="number" name="scale" id="scale" value="{$needs.scale|default=''}" placeholder="配资比例" aria-label="Text input with segmented button dropdown" class="form-control">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="button">倍</button>
                            <button aria-expanded="false" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul role="menu" class="dropdown-menu dropdown-menu-right">
                                <li><a href="#" data="1" tags="scale">1倍</a></li>
                                <li><a href="#" data="2" tags="scale">2倍</a></li>
                                <li><a href="#" data="3" tags="scale">3倍</a></li>
                                <li><a href="#" data="4" tags="scale">4倍</a></li>
                                <li><a href="#" data="5" tags="scale">5倍</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3>配资期限 <small>范围1-12内</small></h3>
                    <div class="input-group input-group-lg mt30">
                        <input type="number" name="time_limit" id="time_limit" value="{$needs.time_limit|default=''}" placeholder="配资期限" aria-label="Text input with segmented button dropdown" class="form-control">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="button">个月</button>
                            <button aria-expanded="false" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul role="menu" class="dropdown-menu dropdown-menu-right">
                                <li><a href="#" data="1" tags="time_limit">1个月</a></li>
                                <li><a href="#" data="2" tags="time_limit">2个月</a></li>
                                <li><a href="#" data="3" tags="time_limit">3个月</a></li>
                                <li><a href="#" data="4" tags="time_limit">4个月</a></li>
                                <li><a href="#" data="5" tags="time_limit">5个月</a></li>
                                <li><a href="#" data="6" tags="time_limit">6个月</a></li>
                                <li><a href="#" data="7" tags="time_limit">7个月</a></li>
                                <li><a href="#" data="8" tags="time_limit">8个月</a></li>
                                <li><a href="#" data="9" tags="time_limit">9个月</a></li>
                                <li><a href="#" data="10" tags="time_limit">10个月</a></li>
                                <li><a href="#" data="11" tags="time_limit">11个月</a></li>
                                <li><a href="#" data="12" tags="time_limit">12个月</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div id="data">
                <div class="row">
                    <div class="col-xs-4">
                        <dl>
                            <dd><span class="own_funds">{$needs.own_funds|default='-'}</span><small>万</small></dd>
                            <dt>自有资金</dt>
                        </dl>
                    </div>

                    <div class="col-xs-4">
                        <dl>
                            <dd><span class="scale">{$needs.scale|default='-'}</span><small>倍</small></dd>
                            <dt>配资比例</dt>
                        </dl>
                    </div>

                    <div class="col-xs-4">
                        <dl>
                            <dd><span class="with_funds">{$needs.with_funds|default='-'}</span><small>万</small></dd>
                            <dt>配资资金</dt>
                        </dl>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4">
                        <dl>
                            <dd><span class="all_funds">{$needs.all_funds|default='-'}</span><small>万</small></dd>
                            <dt>总操盘资金</dt>
                        </dl>
                    </div>

                    <div class="col-xs-4">
                        <dl>
                            <dd><span class="warning_funds">{$needs.warning_funds|default='-'}</span><small>万</small></dd>
                            <dt>预警线</dt>
                        </dl>
                    </div>

                    <div class="col-xs-4">
                        <dl>
                            <dd><span class="open_funds">{$needs.open_funds|default='-'}</span><small>万</small></dd>
                            <dt>平仓线</dt>
                        </dl>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4">
                        <dl>
                            <dd><span class="time_limit">{$needs.time_limit|default='-'}</span><small>个月</small></dd>
                            <dt>配资期限</dt>
                        </dl>
                    </div>
                    <if condition="is_login()">
                        <div class="col-xs-4">
                            <dl>
                                <dd><span class="interest_rate">{$rate|default='2.00'}</span><small>%</small></dd>
                                <dt>月利率</dt>
                            </dl>
                        </div>
                        <else/>
                        <div class="col-xs-4">
                            <dl>
                                <dd><span class="interest_rate">{$needs.interest_rate|default='2.00'}</span><small>%</small></dd>
                                <dt>月利率</dt>
                            </dl>
                        </div>
                    </if>
                    <div class="col-xs-4">
                        <dl>
                            <dd><span class="interest_funds">{$needs.interest_funds|default='-'}</span><small>万</small></dd>
                            <dt>月利息</dt>
                        </dl>
                    </div>
                </div>
            </div>

            <div class="paylist">
                <div class="row">
                    <div class="col-xs-12">
                        <if condition="$needs['pay_type']">
                            <input type="radio" value="0" name="pay_type" aria-label="...">
                            <else/>
                            <input type="radio" value="0" checked name="pay_type" aria-label="...">
                        </if>
                        支付本息
                    </div>
                    <div class="col-xs-12">
                        <span class="topic">本息总和：</span>
                        <span class="bxall">{$needs.all_funds_format}</span>
                    </div>
                    <div class="col-xs-12">
                        <span class="topic">本金：</span>
                        <span class="benjin">{$needs.own_funds_format}</span>
                    </div>
                    <div class="col-xs-12">
                        <span class="topic">首月利息：</span>
                        <span class="lixi">{$needs.interest_format}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <if condition="$needs['pay_type']">
                            <input type="radio" value="1" checked name="pay_type" aria-label="...">
                            <else/>
                            <input type="radio" value="1" name="pay_type" aria-label="...">
                        </if>
                        支付意向金
                    </div>
                    <div class="col-xs-12">
                        <span class="topic">付款总和：</span>
                        <span class="payall">{$needs.intention_format_all}</span>
                    </div>
                    <div class="col-xs-12">
                        <span class="topic">意向金：</span>
                        <span class="yixiang">{$needs.intention_format}</span>
                    </div>
                    <div class="col-xs-12">
                        <span class="topic">本息总和：</span>
                        <span class="bxall">{$needs.all_funds_format}</span>
                    </div>
                </div>
            </div>

            <p id="prompt">

                <span aria-hidden="true" class="glyphicon glyphicon-exclamation-sign"></span>
                客户原因导致配资不成功，意向金不予退还（推荐使用支付本息方式）
                <br>


                <input type="checkbox" name="aggre" value="1" id="aggre" checked="checked"> 我已经阅读并同意
                <a href="{:U('Pages/pact')}" target="_blank">《借款协议》</a>

            </p>

            <div id="subm">
                <button type="submit" id="submit" data-loading-text="Loading..." class="btn btn-info btn-lg" autocomplete="off">
                    提交配资
                </button>
            </div>
        </form>
        <div class="my-p mt50">
            <h4>购买股票的相关限制：</h4>
            <p>1.不得投资于权证、ST类或持有证监会发布的退市公告、风险揭示提示及被查的相关股票；</p>
            <p>2.购买创业板不能超过账户总资产的30%，购买主板单只股票不得超过账户总资产的70%；</p>
            <h4>停牌，摘牌的股票：</h4>
            <p>在超出合同约定时间的情况下，操盘人可协商延长借款时间，并另行支付一倍保证金;或归还借款资金及占用账户费用，获得停牌，摘牌的股票所有权。</p>
            <h4>系统性风险提示：</h4>
            <p>鉴于计算机软硬件环境的差异性和复杂性，及协议过程中不能预见，不能避免，不能克服的不可抗力影响，丙方基于网络平台所提供的服务可能因网络原因、市场波动、乙方或第三方业务系统故障等非丙方原因出现停顿、延误或中断，乙方对此给予充分的谅解，不对此追究丙方之法律和经济责任。</p>
        </div>
    </div>


</block>
</div>
<block name="foot">
    <include file='Public/footweixin' />
</block>
<block name="foot_js">
    <script type="text/javascript" src="__JS__/jquery.validate.js"></script>
    <script>
    $("#form").validate({
        errorPlacement: function(error, element){
            var error_td = element.parent('div').prev('h3');
            error_td.addClass('has-error');
            error_td.children('small').html(error);
        },
        success: function(label){
            label.addClass('validate_right').text('OK!').parent().prev().removeClass('has-error');
        },
        onkeyup: false,
        rules: {
            own_funds: {
                required:true,
                digits:true,
                range:[1,1000]
            },
            scale: {
                required:true,
                digits:true,
                range:[1,5]
            },
            time_limit: {
                required:true,
                digits:true,
                range:[1,12]
            }
        },
        messages: {
            own_funds: {
                required:'请填写自有资金',
                digits:'只能为正整数值',
                range:'数值范围1-1000'
            },
            scale: {
                required:'请填写配资比例',
                digits:'只能为正整数值',
                range:'数值范围1-5'
            },
            time_limit: {
                required:'请填写配资期限',
                digits:'只能为正整数值',
                range:'数值范围1-12'
            }


        }
    });

    function checkCookieEnable(){
        if(window.navigator.cookieEnabled)
            return true;
        else{
            return false;
        }
    }

    if(!checkCookieEnable())
    {
        $('#caches').val(1);
    }

    function CheckINT(input)
    {
        var reg1 = /^\d+$/;
        return reg1.test(input);
    }

    function getVal(of,sv){

        var warning_val = "{$needs['warning_val']}";
        var open_val = "{$needs['open_val']}";
        var interest_rate = "{$rate}";
        var bond = "{$needs['bond']}";

        if(!warning_val){
            warning_val = 112;
        }
        if(!open_val){
            open_val = 108;
        }
        if(!interest_rate){
            interest_rate = 2.00;
        }
        if(!bond){
            bond = 0.1;
        }

        $('.all_funds').text(Math.abs(of*1)*Math.abs(sv*1)+Math.abs(of*1));
        $('.warning_funds').text(Math.abs(of*1)*Math.abs(sv*1)*Math.abs(warning_val*1)/100);
        $('.open_funds').text(Math.abs(of*1)*Math.abs(sv*1)*Math.abs(open_val*1)/100);
        $('.interest_funds').text(Math.abs(of*1)*Math.abs(sv*1)*Math.abs(interest_rate*1)/100);
        var bxall = (Math.abs(of*1))+(Math.abs(of*1)*Math.abs(sv*1)*Math.abs(interest_rate*1)/100);
        $('.bxall').text(fmoney(bxall*10000));
        $('.benjin').text(fmoney(Math.abs(of*1)*10000));
        $('.lixi').text(fmoney((Math.abs(of*1)*Math.abs(sv*1)*Math.abs(interest_rate*1)/100)*10000));
        var yixiangjin = (Math.abs(of*1)*Math.abs(sv*1))*(Math.abs(bond*1))/100*10000;
        if((yixiangjin*1) < 50){
            yixiangjin = 50;
        }
        $('.yixiang').text(fmoney(yixiangjin));
        $('.payall').text(fmoney(Math.abs(yixiangjin*1)+Math.abs(bxall*1)*10000));
    }

    $('.dropdown-toggle').dropdown();
    $('.dropdown-menu li a').on('click',function(){
        var data = $(this).attr('data');
        var tags = $(this).attr('tags');
        $(this).parents('.dropdown-menu').parent('.input-group-btn').prev('input').val(data);
        $(this).parents('.dropdown-menu').prev('.dropdown-toggle').dropdown('toggle');
        switch (tags){
            case 'scale':
                var of = $('#own_funds').val();
                var sv = data;
                getVal(of,sv);
                $('.scale').text(data);
                $('.with_funds').text(Math.abs(of*1)*Math.abs(data*1));
                break;
            case 'time_limit':
                $( ".time_limit" ).text( data );
                break;
        }
        return false;
    });

    $( "#own_funds").change(function(){
        var of = $(this).val();
        var sv = $('#scale').val();

        if(sv){
            if(CheckINT(of) && CheckINT(sv)){
                $('#with_funds').val(Math.abs(of*1)*Math.abs(sv*1));
                $('.own_funds').text(Math.abs(of*1));
                $('.with_funds').text(Math.abs(of*1)*Math.abs(sv*1));

                getVal(of,sv);
            }
        }else{
            if(CheckINT(of)){
                $('.own_funds').text(Math.abs(of*1));
            }
        }
    });

    $( "#scale").change(function(){
        var of = $('#own_funds').val();
        var sv = $(this).val();
        if(sv < 6 ){
            if(CheckINT(of) && CheckINT(sv)){
                $('#with_funds').val(Math.abs(of*1)*Math.abs(sv*1));
                $('.scale').text(Math.abs(sv*1));
                $('.with_funds').text(Math.abs(of*1)*Math.abs(sv*1));
                getVal(of,sv);
            }
        }
    });


    $( "#time_limit").change(function(){
        var sv = $(this).val();
        var of = $('#own_funds').val();
        if(sv < 12 ){
            if(CheckINT(of)){
                $('.time_limit').text(Math.abs(sv*1));
            }
        }
    });

    var of = $('#own_funds').val();
    var sv = $('#scale').val();
    var tl = $('#time_limit').val();

    if(of && sv){
        if(CheckINT(of) && CheckINT(sv)){
            $('#with_funds').val(Math.abs(of*1)*Math.abs(sv*1));
            $('.scale').text(Math.abs(sv*1));
            $('.own_funds').text(Math.abs(of*1));
            $('.with_funds').text(Math.abs(of*1)*Math.abs(sv*1));
            getVal(of,sv);
        }
        if(tl){
            if(CheckINT(tl)){
                $('.time_limit').text(Math.abs(tl*1));
            }
        }
    }

    function fmoney(s, n)
    {
        n = n > 0 && n <= 20 ? n : 2;
        s = parseFloat((s + "").replace(/[^\d\.-]/g, "")).toFixed(n) + "";
        var l = s.split(".")[0].split("").reverse(),
                r = s.split(".")[1];
        t = "";
        for(i = 0; i < l.length; i ++ )
        {
            t += l[i] + ((i + 1) % 3 == 0 && (i + 1) != l.length ? "," : "");
        }
        return "￥" + t.split("").reverse().join("") + "." + r;
    }
    </script>
</block>
</body>
</html>