<div class="foot">
    <div class="container">
        <div class="icon">
            <div class="row">
                <div class="col-md-2">
                    <a href="http://weibo.com/u/5079551744/home?topnav=1&wvr=5&from=company" target="_blank" class="weibo" rel="nofollow">微博</a>
                </div>
                <div class="col-md-2">
                    <a href="http://t.qq.com/liuheziben?pgv_ref=im.perinfo.perinfo.icon" target="_blank" class="txweibo" rel="nofollow">微博</a>
                </div>
                <div class="col-md-2">
                    <a href="http://crm2.qq.com/page/portalpage/wpa.php?uin=4008738666&f=1&ty=1&aty=0&a=&from=6" target="_blank" class="kefu" id="kefu" rel="nofollow">在线客服</a>
                </div>
                <div class="col-md-2">
                    <a class="qq" target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=8c7bc5e82f297e06386cae9dc04315eb458d7a305f0608ef60562a3e500e88b7" rel="nofollow"><img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="【六合资本】配资服务" title="【六合资本】配资服务"></a> 

                </div>
                <div class="col-md-2">
                    <a data-toggle="modal" role="button" href="#APPS" target="_blank" class="ios">苹果app</a>
                </div>
                <div class="col-md-2">
                    <a data-toggle="modal" role="button" href="#APPS" target="_blank" class="anz">安卓app</a>
                </div>
            </div>
        </div>
        <p><a href="{:U('Index/Pages/about')}">关于我们</a> <a href="{:U('Index/Pages/beacon')}">新手指引</a> <a href="{:U('Index/Pages/regulation')}">政策法规</a> <a id="act_contact" data-toggle="modal" role="button" href="#ContactUs" class="no-link">联系我们</a> <a href="{:U('Index/Pages/links')}" style="margin-right: 0; border-right: none;">友情链接</a></p>
{:W('Index/Link',array(1))}
        <div class="center-block">
            版权所有 © 六合资本 鄂ICP备14003509号-1
        </div>
        <div class="center-block mt10">
            <a href="http://webscan.360.cn/index/checkwebsite/url/www.6hezb.com" target="_blank" rel="nofollow"><img border="0" src="http://img.webscan.360.cn/status/pai/hash/002664bf613494097d96ef9cb7511ba1"/></a>
        </div>
    </div>
</div>
<div class="modal fade" id="ContactUs" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">联系我们</h4>
            </div>
            <div class="modal-body">
                <h4>武汉六合资本资产管理股份有限公司</h4>
                <p><span aria-hidden="true" class="glyphicon glyphicon-picture"></span> 武汉武昌汉街万达总部国际A座32层</p>
                <p><span aria-hidden="true" class="glyphicon glyphicon-phone-alt"></span> 400-873-8666</p>
                <p><span aria-hidden="true" class="glyphicon glyphicon-envelope"></span> 6he-talent@6hezb.com</p>
                <h4 class="mt30">武汉六合资本资产管理股份有限公司十堰分公司</h4>
                <p><span aria-hidden="true" class="glyphicon glyphicon-picture"></span> 十堰市北京北路82号（京华新天地7号楼4F）</p>
                <p><span aria-hidden="true" class="glyphicon glyphicon-phone-alt"></span> 0719-8123575</p>
                <p><span aria-hidden="true" class="glyphicon glyphicon-envelope"></span> shiyan@6hezb.com</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="APPS" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">关于APP</h4>
            </div>
            <div class="modal-body">
                <p>我们的APP加紧开发中，感谢您的关注！</p>
                <p>请关注六合资本微信企业号，相关业务可以使用微信企业号完成操作。</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<dl id="dos">
    <dd><a href="http://crm2.qq.com/page/portalpage/wpa.php?uin=4008738666&f=1&ty=1&aty=0&a=&from=6" target="_blank" rel="nofollow"><span aria-hidden="true" class="glyphicon glyphicon-headphones"></span></a></dd>
    <dd class="tel"><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-earphone"></span></a></dd>
    <dd id="tel"><a href="#">400&nbsp;873&nbsp;8666</a></dd>
    <dt id="scrollUp"><a href="#top"><span aria-hidden="true" class="glyphicon glyphicon-chevron-up"></span></a></dt>
</dl>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="__STATIC__/jquery-1.11.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
<script>
    $(window).scroll(function() {
        if ($(window).scrollTop() > 100) {
            $("#dos").fadeIn(1500);
        }
        else {
            $("#dos").fadeOut(1500);
        }

    });
    $("#scrollUp").click(function(){
        $('body,html').animate({scrollTop:0},1000);
        return false;
    });
    $('#weixin').popover({
        'placement': 'bottom',
        'html'     : true,
        'trigger'  : 'hover'
    });
    $('.tel').hover(
        function () {
            $("#tel").show().animate({
                width:"200px",
                left: "-150px"
            }, 1000 );
        },
        function () {
            $('#tel').hide();
        }
    );
</script>
<!-- 6hezb.com Baidu tongji analytics -->
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "//hm.baidu.com/hm.js?360e0e37ac7f7b07bbb1001995b5978d";
var s = document.getElementsByTagName("script")[0]; 
s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none;' id='cnzz_stat_icon_1000405030'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/z_stat.php%3Fid%3D1000405030' type='text/javascript'%3E%3C/script%3E"));</script>


