<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="keywords" content="六合资本,股票配资,期货配资,配资公司,配资平台,配资炒股,配资网,P2P理财" />
<meta name="description" content="六合资本(www.6hezb.com)专业正规的网上股票配资，网上投资理财P2P平台，专注为广大股票投资者和理财投资者提供线上一站式股票配资服务和投资理财解决方案，打造首家、独家、创新型、综合型的全新互联网金融经营模式。" />
<link rel="icon" href="/favicon.ico">

<title>{$seo.title} - {:C('WEB_SITE_TITLE')}</title>

<!-- Bootstrap -->
<link href="__STATIC__/bootstrap/css/bootstrap.min.index.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->