<footer>
    <div class="container">
        <div class="pad30">
            <a href="#">
                <img alt="logo" src="__IMG__/logo.png">
            </a>
            <div class="row">
                <div class="col-md-7 left">
                    <p><span>客服电话:</span>{:C('TEL')}</p>
                    <p><span>电子邮箱:</span>{:C('EMAIL')}</p>
                    <p><span>公司地址:</span>{:C('ADDR')}</p>
                </div>
                <div class="col-md-2 mid">
                    <a href="#"><i class="icon iconfont">&#xe65a;</i></a>
                    <span>微信公众号</span>
                </div>
                <div class="col-md-3 right">
                    <p><a class="btn stroke btn-size" href="#" role="button"><i class="icon iconfont">&#xe639;</i>iPhone下载</a></p>
                    <p><a class="btn stroke btn-size" href="#" role="button"><i class="icon iconfont">&#xe690;</i>Android下载</a></p>
                </div>
            </div>
            <p>© 2014 BoBoKing. All rights reserved.</p>
        </div>
    </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="__STATIC__/jquery-1.11.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>